{% extends "NMTK_server/base.html" %}{% load url from future %}{% load static %}{% load widget_tweaks %}
{% block title %}Non-Motorized Transportation Toolkit :: NMTK{% endblock%}

{% block right_nav %}
	{% if ui_installed %} 
	  <li class="">
	    <a href="{% url 'nmtk_server_nmtk_ui' %}"><i class=""></i> NMTK Console </a>
	    <i class="icon-chevron-right"></i>
	  </li>
	  {% else %}
	  <li class="">
	  	<a href="{% url 'login' %}"><i class=""></i>Login</a>
	    <i class="icon-chevron-right"></i>
	  </li>
	  {% endif %}
	  {% if user.is_superuser %}
	     <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
	  {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="row">
		
		<div class="span12">				
				<div class="error-details">
					<br />
					<p class="lead">The US Federal Highway Administration Non-Motorized Toolkit (NMTK) is a
					tool designed to facilitate the planning of non motorized forms of transportation
					through the implementation and application of transportation models using region
					specific data.  Transportation planning tools may be provided by a variety
					of entities (commercial, education, government, etc.) and integrated into 
					the toolkit via a well-defined API.</p>  
					<p class="lead">The toolkit can then utilize these tools
					using user-provided data and user-specified model parameters to execute
					a variety of transportation models (tools.)  These results may then be
					viewed (and downloaded) using the Toolkit server.</p>
					<p class="lead">
					This product is currently in development, and is not currently available to the 
					public.
					</p>

				</div> <!-- /error-details -->
												
		</div> <!-- /span12 -->
		
	</div> <!-- /row -->
	
</div> <!-- /container -->

{% endblock %}