<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NMTK Beta</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    
    
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">        
    
    <link href="./css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
    
    <link href="./css/base-admin-2.css" rel="stylesheet">
    <link href="./css/base-admin-2-responsive.css" rel="stylesheet">
    
    <link href="./css/pages/dashboard.css" rel="stylesheet">   

    <link href="./css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<i class="icon-cog"></i>
			</a>
			
			<a class="brand" href="./index.html">
				nmtk <sup>beta</sup>
			</a>		
			
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i>
							Settings
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">Account Settings</a></li>
							<li><a href="javascript:;">Privacy Settings</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Help</a></li>
						</ul>
						
					</li>
			
					<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Chander Ganesan
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">My Profile</a></li>
							<li><a href="javascript:;">My Groups</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Logout</a></li>
						</ul>
						
					</li>
				</ul>
			
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
    



    
<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="./index.html">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-copy"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-external-link"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 			
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-th"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	
					
						<ul class="dropdown-menu">
							<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 
							<li class="dropdown-submenu">
			                  <a tabindex="-1" href="#">Dropdown menu</a>
			                  <ul class="dropdown-menu">

							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>

			                  </ul>
			                </li>
						</ul>    				
					</li>
				
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    
    
<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="span6">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-star"></i>
					<h3>Introduction</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<p>
                    <h4>Welcome to {{nameofapplication}}</h4>
					<h6>New to {{nameofapplicaiton}}? Check out the {{nameofapplicaiton}} User's Guide.</h6>
                    </p>
                    <br />
                    
					<div class="stats">
						
						<div class="stat">
							<span class="stat-value">12,386</span>									
							Data Point
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">9,249</span>									
							Data Point
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">70%</span>									
							Data Point
						</div> <!-- /stat -->
						
					</div> <!-- /stats -->
					
	
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->	
			
			
		
      		
	    </div> <!-- /span6 -->
      	
      	
      	<div class="span6">	
      		
      		
      				
			<div class="widget widget-nopad stacked">
						
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Job Status and Results</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<ul class="news-items">
						<li>
							
							<div class="news-item-detail">										
								<a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
								<p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							
							<div class="news-item-date">
								<span>
                                <img src="img/notifications/alert-32.png" />
                                <img src="img/map-search.png" />
                                </span>
							</div>
						</li>
						<li>
							<div class="news-item-detail">										
								<a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
								<p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							
							<div class="news-item-date">
								<img src="img/notifications/success-32.png" />
                                <img src="img/map-search.png" />
							</div>
						</li>
						<li>
							<div class="news-item-detail">										
								<a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
								<p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
							</div>
							
							<div class="news-item-date">
								<img src="img/notifications/success-32.png" />
                                <img src="img/map-search.png" />
							</div>
						</li>
					</ul>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	
      		
      		
		
	      </div> <!-- /span6 -->
      	
      </div> <!-- /row -->
      
      
       <div class="row">
      	
      	<div class="span12">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-edit"></i>
					<h3>Job Status and Results</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
<section id="tables">
					<h4>Select an available tool list</h4>
					
					
					
					<table class="table table-bordered table-striped table-highlight">
						        <thead>
						          <tr>
						            <th>Column#</th>
						            <th>Column title</th>
						            <th>Column title</th>
						            <th>Column title</th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td>1</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
						          </tr>
						          <tr>
						            <td>2</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
						          </tr>
						          <tr>
						            <td>3</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
						          </tr>
						          <tr>
						            <td>4</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
						          </tr>
						          <tr>
						            <td>5</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
						          </tr>
						        </tbody>
						      </table>
                              
                              
				<section id="paginations">
					<div class="pagination">
					  <ul>
					    <li><a href="javascript:;">Prev</a></li>
					    <li class="active">
					      <a href="javascript:;">1</a>
					    </li>
					    <li><a href="javascript:;">2</a></li>
					    <li><a href="javascript:;">3</a></li>
					    <li><a href="javascript:;">4</a></li>
					    <li><a href="javascript:;">Next</a></li>
					  </ul>
					</div>
						      
						</section>

				<br />
				<br />
				<br />
						      
						      
						      <h4>Select a file from the list below</h4>
						      
						      
					<table class="table table-bordered table-striped">
						        <thead>
						          <tr>
						            <th>Column#</th>
						            <th>Column title</th>
						            <th>Column title</th>
						            <th>Column title</th>
                                    <th>actions</th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td>1</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
                                    <td class="td-actions">
									<a href="javascript:;" class="btn btn-small btn-warning">
										<i class="btn-icon-only icon-ok"></i>										
									</a>
									
									<a href="javascript:;" class="btn btn-small">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
								</td>
						          </tr>
						          <tr>
						            <td>2</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
                                    <td class="td-actions">
									<a href="javascript:;" class="btn btn-small btn-warning">
										<i class="btn-icon-only icon-ok"></i>										
									</a>
									
									<a href="javascript:;" class="btn btn-small">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
								</td>
						          </tr>
						          <tr>
						            <td>3</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
                                    <td class="td-actions">
									<a href="javascript:;" class="btn btn-small btn-warning">
										<i class="btn-icon-only icon-ok"></i>										
									</a>
									
									<a href="javascript:;" class="btn btn-small">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
								</td>
						          </tr>
						          <tr>
						            <td>4</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
                                    <td class="td-actions">
									<a href="javascript:;" class="btn btn-small btn-warning">
										<i class="btn-icon-only icon-ok"></i>										
									</a>
									
									<a href="javascript:;" class="btn btn-small">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
								</td>
						          </tr>
						          <tr>
						            <td>5</td>
						            <td>row data</td>
						            <td>row data</td>
						            <td>row data</td>
                                    <td class="td-actions">
									<a href="javascript:;" class="btn btn-small btn-warning">
										<i class="btn-icon-only icon-ok"></i>										
									</a>
									
									<a href="javascript:;" class="btn btn-small">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
								</td>
						          </tr>
						        </tbody>
						      </table>
						      
						      
						
				<section id="paginations">
					<div class="pagination">
					  <ul>
					    <li><a href="javascript:;">Prev</a></li>
					    <li class="active">
					      <a href="javascript:;">1</a>
					    </li>
					    <li><a href="javascript:;">2</a></li>
					    <li><a href="javascript:;">3</a></li>
					    <li><a href="javascript:;">4</a></li>
					    <li><a href="javascript:;">Next</a></li>
					  </ul>
					</div>
						      
						</section>

				<br />
				<section id="buttons">

					<a href="javascript:;" class="btn btn-large">Clear Selected</a>
					<a href="javascript:;" class="btn btn-large btn-primary">Create a new job</a>&nbsp;&nbsp;&nbsp;
						      
						</section>
						
						
						      
						</section>
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->					
			
	    </div> <!-- /span12 -->     	
      	
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
    



    
    
<div class="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div id="footer-copyright" class="span6">
				&copy; 2013 NMTK.
			</div> <!-- /span6 -->
			
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /footer -->



    
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/libs/jquery-1.8.3.min.js"></script>
<script src="./js/libs/jquery-ui-1.10.0.custom.min.js"></script>
<script src="./js/libs/bootstrap.min.js"></script>

<script src="./js/plugins/flot/jquery.flot.js"></script>
<script src="./js/plugins/flot/jquery.flot.pie.js"></script>
<script src="./js/plugins/flot/jquery.flot.resize.js"></script>

<script src="./js/Application.js"></script>

<script src="./js/charts/area.js"></script>
<script src="./js/charts/donut.js"></script>

  </body>
</html>
