{% extends "NMTK_server/base.html" %}
{% load static %}
{% load url from future %}
{% block title %}Non-Motorized Transportation Toolkit{% endblock %}
        

				<ul class="nav pull-right">
					{% block right_nav %}
					<!--<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i>
							Settings
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">Account Settings</a></li>
							<li><a href="javascript:;">Privacy Settings</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Help</a></li>
						</ul>
						
					</li>
			
					--><li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{user.first_name}} {{user.last_name}}
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<!--<li><a href="javascript:;">My Profile</a></li>
							<li><a href="javascript:;">My Groups</a></li>
							<li class="divider"></li>
							--><li><a href="{% url 'auth_logout' %}">Logout</a></li>
						</ul>
						
					</li>
					{% endblock %}
				</ul>
				{% block navbar_extras %}
				{% comment %}
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
				{% endcomment %}
				{% endblock %}
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
    


{% block navbars %}

<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="{% url 'nmtk_server_nmtk_ui' %}">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					{% comment %}
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-copy"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-external-link"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 			
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-th"></i>
							<span>Future Link?</span>
							<b class="caret"></b>
						</a>	
					
						<ul class="dropdown-menu">
							<ul class="dropdown-menu">
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
						</ul> 
							<li class="dropdown-submenu">
			                  <a tabindex="-1" href="#">Dropdown menu</a>
			                  <ul class="dropdown-menu">

							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>
							<li><a href="#">Sub link?</a></li>

			                  </ul>
			                </li>
						</ul>    				
					</li>
					{% endcomment %}
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->

{% endblock %}
{% block content %}
<div class="main">

    <div class="container">
{% comment %}
      <div class="row">
      	
      	<div class="span6">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-star"></i>
					<h3>Recent News</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<p>
                    <h4>Welcome to The Non-Motorized Toolkit (NMTK)</h4>
					<h6>Currently there are 6 tools available.</h6>
                    </p>
                    <br />
                    
					<div class="stats">
						
						<div class="stat">
							<span class="stat-value">12,386</span>									
							Data Point
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">9,249</span>									
							Data Point
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">70%</span>									
							Data Point
						</div> <!-- /stat -->
						
					</div> <!-- /stats -->
					
	
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->	      		
	    </div> <!-- /span6 -->
	 </div> <!--  /row -->
{% endcomment %}
     <div id="tools" class="row">
      </div> <!-- /row -->
      
     <div id="jobs" class="row">
      </div> <!-- /row -->
      
      <div id="datafiles" class="row">
      </div> <!-- /row -->
  
    </div> <!-- /container -->
    
</div> <!-- /main -->
{% endblock %}


{% block javascript_extra %}

{% endblock %}
  </body>
</html>
