{% extends "NMTK_server/base.html" %}
{% load static %}
{% load url from future %}
{% block title %}Non-Motorized Transportation Toolkit{% endblock %}
        

				<ul class="nav pull-right">
					{% block right_nav %}
					<!--<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i>
							Settings
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">Account Settings</a></li>
							<li><a href="javascript:;">Privacy Settings</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Help</a></li>
						</ul>
						
					</li>
			
					--><li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{user.first_name}} {{user.last_name}}
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="#/password">Change Password</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'auth_logout' %}">Logout</a></li>
						</ul>
						
					</li>
					{% endblock %}
				</ul>
				{% block navbar_extras %}
				{% comment %}
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
				{% endcomment %}
				{% endblock %}
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
    


{% block navbars %}

<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li id="dashboard-tab">
						<a href="#">
							<i class="icon-dashboard"></i>
							<span>Dashboard</span>
						</a>				
					</li>
					<li id="createjob-tab">					
						<a href="#/job/">
							<i class="icon-magic"></i>
							<span>Create Job</span>
						</a>	    
					</li>
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->

{% endblock %}
{% block content %}
<div id="dashboard" class="main">

    <div class="container">
     <div class="row">
     <div id="datafiles" class="span6">
     </div><!--  /span6 -->
     <div id="jobs" class="span6">
     </div><!--  /span6 -->
      </div> <!-- /row -->
      
      
     
  
    </div> <!-- /container -->
    
</div> <!-- /main -->
<div id="createjob" class="main">

    <div class="container">
    <div class="row">
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#/job/#choose_tool"><i class="icon-chevron-right"></i> Choose Tool</a></li>
          <li><a href="#/job/#choose_file"><i class="icon-chevron-right"></i> Choose File</a></li>
          <li><a href="#/job/#configure_job"><i class="icon-chevron-right"></i> Configure Job</a></li>
          <li><a href="#/job/#submit"><i class="icon-chevron-right"></i> Submit Job</a></li>
        </ul>
      </div>
     <div class="span10">
     	<section id="jobs_createjob">
	     </section>
     	<section id="tools_select">
	     </section>
	     <section id="datafiles_select">
	     </section>
	     <button id="createjob_button" class="btn btn-primary btn-large" type="button"></button>
      </div> <!-- /span10 -->
  </div> <!--  /row -->
    </div> <!-- /container -->
    
</div> <!-- /main -->
{% endblock %}


{% block javascript_extra %}
<script>
require.config({
	// Note: The line below is only for development, and should be removed
	// before deployment.
	// urlArgs: "bust=" +  (new Date()).getTime(),
	baseUrl: "{% get_static_prefix %}NMTK_server/",
	paths: {
		"jquery": "js/libs/jquery-1.9.1.min",
		"jquery.bootstrap": "js/libs/bootstrap.min",
		"jquery.ui": "js/libs/jquery-ui-1.10.0.custom.min",
		"jquery.private": "js/libs/jquery-private",
		"backbone": "js/libs/backbone.min",
		"underscore": "js/libs/underscore.min",
		"Application": "js/Application",
		"domReady": "js/libs/domReady",
		"NMTK": "js/NMTK",
		"text": "js/libs/text",
		"jquery.fileupload": "js/libs/jquery.fileupload",
		"jquery.iframe-transport": "js/libs/jquery.iframe-transport",
		"jquery.cookie": "js/libs/jquery.cookie"
	},
	shim: {
		'backbone': { deps: ['underscore','jquery'],
		              exports: 'Backbone' },
		'underscore': { exports: '_' },
		'jquery.bootstrap': { deps: ['jquery'] },
		'jquery.cookie': { deps: ['jquery'] }
	},
	map: {
		// Needed since fileupload needs widget, which is in UI
			'*': {'jquery.ui.widget': 'jquery.ui' }
		}
});

require(['Application','NMTK', 'jquery.bootstrap'], 
		function(Application, NMTK) {
	Application.initialize();
	NMTK.initialize(); 
});

</script>
{% endblock %}
  </body>
</html>
