			<div class="widget stacked">
						
				<div class="widget-header">
					<i class="icon-wrench"></i>
					<h3>Choose a tool to use for this job</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
					
				<section id="tables">
				<% if (meta.total_count > 0) { %>
				<h4>Displaying tools <%= meta.offset+1 %> - <%= meta.offset+tools.length %> (of <%= meta.total_count %> available tools.)</h4>	
							  <table class="table table-bordered table-striped table-highlight"> 
						        <thead>
						          <tr>
						            <th>Selected</th>
						            <th>Tool Name</th>
						            <th>Description</th>
						            <th>Documentation Links</th>
						          </tr>
						        </thead>
						        <tbody>
						        <% _.each(tools, function(tool){ %>
						          <tr>
						            <td><input type="checkbox" name="tool_uri" class="radio" value="<%= tool.get("resource_uri") %>"></td>
						            
						            <td><%= tool.get("config").info.name %></td>
						            <td><%= tool.get("config").info.text %></td>
						     		<% _.each(_.pairs(tool.get("config").documentation.links), 
						     		          function(links){ %>
						     		<td><a href="<%= links[1] %>"><%= links[0] %></a></td>
						     		<% }); %>
						          </tr>
						         <% }); %>
						          
						        </tbody>
						      </table>
						      <%= pagertemplate %>
		        <% } else { %>
		        <h4>There are no tools available at this time.</h4>
		        <% } %>
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	
