      		<div class="widget stacked">
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Choose a data file to use for this job</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
				<section id="tables">
				<% if (meta.total_count > 0) { %>
				<h4>Displaying Data Files <%= meta.offset+1 %> - <%= meta.offset+datafiles.length %> (of <%= meta.total_count %> datafiles.)</h4>	
							  <table class="table table-bordered table-striped table-highlight"> 
						        <thead>
						          <tr>
						          	<th>Selected</th>
						            <th>File Name</th>
						            <th>Features</th>
						            <th>SRID</th>
						          </tr>
						        </thead>
						        <tbody>
						        <% _.each(datafiles, function(datafile) { %>
						          <tr>
						            <td><input type="checkbox" name="datafile_uri" class="radio" value="<%= datafile.get("resource_uri") %>"></td>
						            <td><%= datafile.get("name") %></td>
						     		<td><%= datafile.get("feature_count") %></td>
						     		<td><%= datafile.get("srid") %></td>
						          </tr>
						         <% }); %>
						          
						        </tbody>
						      </table>
						      <%= pagertemplate %>
		        <% } else { %>
		        <h4>You currently have no data files, please upload data files from the <a href="#">Dashboard</a>.</h4>
		        <% } %>
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->