     	<div class="span12">	
      		<div class="widget stacked">
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Data Files</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
				<div class="fileUploadView">
				<form id="fileUpload"  method="POST" enctype="multipart/form-data">
				Drag and drop one or more files here to upload..
		      		<div id="progress">
					    <div class="bar" style="width: 0%;"></div>
					</div>
				</form>
				</div>
				<section id="tables">
				<% if (meta.total_count > 0) { %>
				<h4>Displaying Data Files <%= meta.offset+1 %> - <%= meta.offset+datafiles.length %> (of <%= meta.total_count %> datafiles.)</h4>	
							  <table class="table table-bordered table-striped table-highlight"> 
						        <thead>
						          <tr>
						            <th>File Name</th>
						            <th>Description</th>
						            <th>Features</th>
						            <th>SRID</th>
						            <th>Date Uploaded</th>
						            <th>Status</th>
						            <th>Operations</th>
						          </tr>
						        </thead>
						        <tbody>
						        <% _.each(datafiles, function(datafile) { %>
						          <tr>
						            <td><%= datafile.get("name") %></td>
						     		<td><%= datafile.get("description") %></td>
						     		<td><%= datafile.get("feature_count") %></td>
						     		<td><%= datafile.get("srid") %></td>
						            <td><%= Date(datafile.get("date_created")) %></td>
						     		<td><%= datafile.get("status") %></td>
						     		<td>
						     		<a data-pk="<%= datafile.get('id') %>" class="btn btn-small remove">
										<i class="btn-icon-only icon-remove"></i>										
									</a>
									<a data-pk="<%= datafile.get('id') %>" class="btn btn-small edit">
										<i class="btn-icon-only icon-edit"></i>										
									</a>
									<a href="<%= datafile.get('file') %>" class="btn btn-small download">
										<i class="btn-icon-only icon-download"></i>										
									</a>
									<a href="<%= datafile.get('geojson') %>" class="btn btn-small download">
										<i class="btn-icon-only icon-map-marker"></i>										
									</a>
						     		</td>
						          </tr>
						         <% }); %>
						          
						        </tbody>
						      </table>
						      <%= pagertemplate %>
		        <% } else { %>
		        <h4>You currently have no data files.</h4>
		        <% } %>
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	
      		
      		
		
	      </div> <!-- /span12 -->
