    <div class="modal-header">
    <h3>Change Password</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="span6">
          <div class="control-group">
             <label class="control-group" for="current_password">Current Password</label>
             <div class="controls">
                <p class="help-block">Please enter your current password</p>
                <input type="password" class="input" 
                 name="current_password" id="old_password" ng-model="password.old_password"></input>
             </div>
          </div>
          <div class="control-group">
             <label class="control-group" for="new_password">New Password</label>
             <div class="controls">
                <p class="help-block">Please enter the new password</p>
                <input type="password" class="input" 
                 name="new_password" id="new_password" ng-model="password.password"></input>
             </div>
          </div>
          <div class="control-group">
             <label class="control-group" for="new_password_repeat">New Password (again)</label>
             <div class="controls">
                <p class="help-block">Please re-enter the new password (for validation)</p>
                <input type="password" class="input" 
                 name="new_password_repeat" id="new_password_repeat" 
                 ng-model="password.password_repeat"></input>
             </div>
          </div>
        </div>
      </div>
      <button  ng-click="close()" class="btn">Cancel</button>
      <button ng-click="save()" ng-disabled="!matchPassword()" ng-class="{'btn-primary': matchPassword()}" class="btn">Change Password</button>
    </div>
