<IFRAME id=hidden_upload name=hidden_upload src='' onLoad='uploadDone()'
        style='width:0;height:0;border:0px solid #fff'></IFRAME>
<script type="text/ng-template"  id="ie_upload.html">
	<input type="file" ng-model="fileupload" name="file" /><br />
    <input type="submit" name="submit" value="Upload File" />
</script>

<script type="text/ng-template"  id="file_info.html">
    <div class="modal-header">
    <h3>View and Edit file details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="span6">
          <div class="control-group" ng-repeat="field in fields|filter:filterSpatial">
             <label class="control-group" for="{{field.field}}">{{field.display_name}}</label>
             <div class="controls">
                <p class="help-block">{{field.description}}</p>
                <input ng-disabled="field.disabled" type="text" class="input" 
                 name="{{field.field}}" id="{{field.field}}" ng-model="filedata[field.field]"></input>
             </div>
          </div>
        </div>
      </div>
      <button  ng-click="close()" class="btn">Cancel</button>
      <button ng-click="save()" class="btn btn-primary">Save</button>
    </div>
</script>

<div class="container">
   <div class="row">
   	  
      <div class="span12">
        <div ng-init="divname='nmtk_filehelp'" class="widget stacked">
          <div ng-click="toggleDiv(divname)" class="widget-header">
            <i class="icon-info-sign"></i>
            <h3>Your Files</h3>
            <i ng-hide="isDivEnabled(divname)" class="icon-expand"></i>
            <i ng-show="isDivEnabled(divname)" class="icon-collapse"></i>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled(divname)" class="widget-content">
            <p>
            Here you can manage your data files.  Once stored, a data file can be 
            used as the input for one or more datafiles.
            </p>
            <p>
            Need to use the output from one datafile as the input to another?  Head over 
            to the <a href="#/job/">My Jobs</a> tab and choose to add the 
            results to your file library - you can then use that output file
            as the input for future jobs.
            </p>
            <p>
            Once you've uploaded a file, you can use the <i ng-hide="(browser_name=='Explorer')"
		   class="icon-info-sign icon-large"></i> 
					    <a ng-show="(browser_name=='Explorer')">[edit]</a> link to add a description and view
					    additional information about the file.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="span12">
        <div ng-click="toggleDiv('nmtk_fileuplad_panel')" class="widget stacked">
          <div class="widget-header">
            <i class="icon-upload"></i>
            <h3>Add New Files</h3>
            <button stop-event='click' style="z-index: 100;" ng-click="switchView('classic_file_upload')"
               ng-show="(browser_name !='Explorer' && !views.classic_file_upload)">classic view</button>
            <button style="z-index: 100;" ng-click="switchView('classic_file_upload')"
               stop-event='click' ng-show="(browser_name !='Explorer' && views.classic_file_upload)">drag-and-drop upload</button>
            <i ng-hide="isDivEnabled('nmtk_fileuplad_panel')" class="icon-expand"></i>
            <i ng-show="isDivEnabled('nmtk_fileuplad_panel')" class="icon-collapse"></i>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_fileuplad_panel')" class="widget-content">
          
            <div ng-hide="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <form action="{{upload_uri}}" id="fileUpload" method="POST" enctype="multipart/form-data">
		         <div class="progress progress-success progress-striped active" id="progress">
		           <div class="bar" style="width: 0%;"></div>
		         </div> <!-- /progress -->
		        <h4 class="text-center">Drag one or more data files here to add them to your list of files.</h4>
		        <p class="text-center">(Files will upload one at a time, with a progress bar reflecting upload status.)</p>
	          </form>
	        </div> <!-- /fileUploadView -->
	        
	        <div ng-show="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <h4 class="text-center">Use the upload dialog below to select a file, then press <strong>Upload File</strong>
	          to add the file to your account.</h4>
	        
	          <form id="ie_uploadform" ng-include="'ie_upload.html'" target="hidden_upload" action="{{upload_uri}}?format=json" method="POST" enctype="multipart/form-data">
	             
	          </form>
	        </div> <!-- /fileUploadView -->
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="span12">
        <div class="widget stacked">
          <div class="widget-header">
            <i class="icon-wrench"></i>
            <h3>Your Data Files</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
          	<h4 ng-hide="rest.datafile.metadata.total_count">You have no data files at this time.</h4>
			<section ng-show="rest.datafile.metadata.total_count" id="tables">
			  <h4>Displaying datafiles {{rest.datafile.metadata.offset+1}} - {{rest.datafile.metadata.offset+rest.datafile.length}} (of {{rest.datafile.metadata.total_count}} available datafiles.)</h4>	
				<table class="table table-bordered table-striped table-highlight"> 
				  <thead>
				   <tr>
					  <th>Name</th>
				  	  <th>Status</th>
				  	  <th>Description</th>
				  	  <th>Actions</th>
				    </tr>
				  </thead>
				  <tbody>
					<tr ng-repeat="datafile in rest.datafile">						            
					  <td>{{ datafile.name }}</td>
					  <td><i ng-show="datafile.status_message" class="message icon-exclamation-sign">
					        <span>
					        {{datafile.status_message}}
					        </span>
					      </i> 
					      {{ datafile.status }} </td>
					  <td>{{datafile.description}}</td>
					  <td class="centered">
					    <i ng-hide="(browser_name=='Explorer')" ng-click="removeFile('datafile',
					    															 datafile.id,
					    															 datafile.name,
					    															 'File')" 
					    class="icon-trash icon-large"></i> 
					    <a ng-show="(browser_name=='Explorer')" ng-click="removeFile('datafile',
					                                                                 datafile.id,
					                                                                 datafile.name,
					                                                                 'File')">[delete file]</a>
					    <br ng-show="(browser_name=='Explorer')" />
					    <i ng-hide="(browser_name=='Explorer')" ng-click="openDialog(datafile)" 
					    class="icon-info-sign icon-large"></i> 
					    <a ng-show="(browser_name=='Explorer')" ng-click="openDialog(datafile)">[edit]</a>                                                            
					  </td>
				    </tr>						          
				  </tbody>
				</table>
				<section id="paginations-pager">
				  <div class="pagination" ng-show="rest.datafile.metadata.total_count > rest.datafile.metadata.limit">
					<ul>
					  <li ng-click="updateData('datafile',rest.datafile.metadata.offset-rest.datafile.metadata.limit)" ng-show="rest.datafile.metadata.offset > 0">
						<a class="pager">Prev</a>
					  </li>
					  <li ng-repeat="n in [] | page:rest.datafile.metadata" 
					      ng-click="updateData('datafile',n)" ng-class="{'active': (rest.datafile.metadata.offset == n)}" >
						<a class="pager">{{n/rest.datafile.metadata.limit+1}}</a>
					  </li>
					  <li ng-click="updateData('datafile',rest.datafile.metadata.offset+rest.datafile.metadata.limit)" ng-show="rest.datafile.metadata.offset+rest.datafile.metadata.limit < rest.datafile.metadata.total_count">
						<a class="pager">Next</a>
					  </li>
					</ul>
				  </div> <!-- /pagination -->
				</section>
			 </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->