		
		<div class="pagination" ng-show="metadata.total_count >= metadata.limit">
		  <ul>
		    <li ng-show="metadata.offset > 0"><a class="pager" ng-click="updateData(metadata.offset-metadata.limit)">Prev</a></li>
		      <li ng-style="{'active': metadata.offset == n}" ng-repeat="n in [] | page:metadata">
		        <a class="pager" ng-click="updateData(n)">{{n/metadata.limit+1}}</a>
		      </li>
		    <li ng-show="metadata.offset+metadata.limit < metadata.total_count">
		       <a class="pager" ng-click"=updateData(metadata.offset+metadata.limit)">Next</a>
		    </li>
		  </ul>
		</div> <!-- /pagination -->
