<div class="container">
   <div class="row">
      <div class="span12">
        <div class="widget stacked">
          <div ng-click="toggleDiv(toolexplorer_intro)" class="widget-header">
            <i class="icon-info-sign"></i>
            <h3>Tool Explorer Introduction</h3>
            <i ng-hide="isDivEnabled(toolexplorer_intro)" class="icon-expand"></i>
            <i ng-show="isDivEnabled(toolexplorer_intro)" class="icon-collapse"></i>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled(toolexplorer_intro)" class="widget-content">
          <p>
           The tool explorer allows you to browse tools that are provided by this server,
           review their documentation and/or supporting research papers, and download
           sample data sets.
		  </p>
		  <p>
			In order to use a tool described here, you will need to do the following:
               <ul>
                 <li>Prepare and <a href="#/files/">upload</a> the necessary 
                     data for your selected tool.</li>
			     <li>Start a new job, filling in the necessary job parameters.</li>
			     <li>Run the job (your data will be uploaded to the tool, and you 
			         will be notified when the results are ready.)</li>
	  		     <li>View the results, which can be accessed in one of the following ways:
  			       <ul>
			         <li>As a Microsoft Excel Spreadsheet (XLS) file.</li>
			         <li>As a Comma-Separated Values (CSV) file.</li>
			         <li>In your browser (for spatial data, you can see it on a map!)</li>
		  	       <li>As a GeoJSON file (the &quot;native&quot; format that NMTK uses for data interchange)</li>
                   </ul>
                 </li>
               </ul>
             <p>Below is a list of Tools currently provided by this NMTK Server,
              you can read about the tools and download sample data files.  When you 
              are ready to try running your own job, click on the <a href="#/job/">
              My Jobs</a> tab to create and run your own NMTK job.</p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    

    <div class="row">
      <div class="span6">
        <div class="widget">
          <div class="widget-header">
            <i class="icon-wrench"></i>
            <h3>Explore the Available Tools</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
          	<h4 ng-hide="rest.tool.metadata.total_count">Please wait while the tool list is loaded.</h4>
			<section ng-show="rest.tool.metadata.total_count" id="tables">
			  <h4>Select a tool to learn more about it ({{rest.tool.metadata.total_count}} tools available.)</h4>	
				<div ng-grid="gridOptions" style="height: 200px;"></div>
			 </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span6 -->
      <div ng-show="selections[0]" class="row">
        <div class="span6">
          <div class="widget ">
            <div class="widget-content centered">
              <button ng-click="createJob(selections[0].resource_uri)" class="btn btn-primary">Create Job with this Tool</button>
            </div>
          </div>
        </div>
        <div ng-show="selections[0]" class="span6">
          <div ng-class="{'stacked': !selections[0]}" class="widget">
            <div class="widget-header">
              <i class="icon-tasks"></i>
              <h3>{{selections[0].name}}</h3>
            </div> <!-- /widget-header -->
            <div class="widget-content" ng-bind-html-unsafe="selections[0].config.info.text">
            </div> <!-- /widget-content -->
          </div> <!-- /widget stacked -->
        </div><!-- /span6 -->
      </div><!-- /row -->
    </div><!-- /row -->
</div> <!-- /container -->