    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="change_password_title">Change Password</h3>
      </div>
      <div class="modal-body">
         <div class="row">
	        <div class="col-md-12">
	          <div class="control-group">
	             <label class="control-group" for="current_password">Current Password</label>
	             <div class="controls">
	                <p class="help-block">Please enter your current password</p>
	                <input type="password" class="input" 
	                 name="current_password" id="current_password" ng-model="password.current_password">
	             </div>
	          </div>
	          <div class="control-group">
	             <label class="control-group" for="new_password">New Password</label>
	             <div class="controls">
	                <p class="help-block">Please enter the new password</p>
	                <input type="password" class="input" 
	                 name="new_password" id="new_password" ng-model="password.password">
	             </div>
	          </div>
        	  <div class="control-group">
             	<label class="control-group" for="new_password_repeat">New Password (again)</label>
            	<div class="controls">
                	<p class="help-block">Please re-enter the new password (for validation)</p>
                	<input type="password" class="input" 
                 		   name="new_password_repeat" id="new_password_repeat" 
                 		  ng-model="password.password_repeat">
             	</div>
          	  </div>
       		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button ng-click="close()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="save()" type="button" ng-disabled="!matchPassword()" ng-class="{'btn-primary': matchPassword()}" class="btn">Change Password</button>     	
      </div>
    </div><!-- /.modal-content -->
