<script type="text/ng-template" id="config.html">
     <!-- Handle the case where we are getting a file whose inputs we use for 
          data mappings -->
     <div ng-if="config.type == 'File'" class="col-md-12" >
       <div class="widget stacked">
         <div ng-click="toggleSection(section + ':' + $index)"  class="widget-header">
           <i class="glyphicon glyphicon-edit"></i>
           <h3>{{config.label}}</h3>
           <i ng-class="{'glyphicon-chevron-right': !sections[section + ':' + $index], 'glyphicon-chevron-down': sections[section + ':' + $index]}" 
              class="navbar-right glyphicon ic-right"></i> 
           <button class="navbar-right btn btn-xs btn-primary ic-right" ng-show="job_data.status=='Configuration Pending' && config.elements.length > 0" 
                   ng-click="cloneConfig(config.namespace)" stop-event='click'>Copy Mappings from Another Job</button>
           
         </div> <!-- /widget-header -->
         <div ng-show="sections[section + ':' + $index]"  class="widget-content">
           <section>
             <p><label for="{{config.namespace}}">{{config.description}}</label></p>
			 <h4>Choose a file: <select ng-model="$parent.job_config_files[config.namespace]" name="{{config.namespace}}" 
									    ng-change="updateFileFieldsFromResourceURI(config.namespace)" required
										ng-disabled="disabled"
										ng-init="updateFileFieldsFromResourceURI(config.namespace)"
                     ng-options="o.resource_uri as getFileStr(o) for o in list_files(config.mime_types)"></select></h4>
             <table ng-show="$parent.job_config_files[config.namespace] && config.elements.length > 0" class="table table-bordered table-striped table-highlight"> 
			<thead>
			  <tr>
			      <th>Setting</th>
				  <th>Description</th>
			  	  <th>Field Name</th>
			  </tr>
			  </thead>
			  <tbody ng-if="$parent.job_config_files[config.namespace]">
			    <tr ng-repeat="property in config.elements">
			       <td >
					 <button ng-if="($parent.job_config[config.namespace][property.name]['type'] == 'property' && validation[config.namespace][property.name]['type'] != 'property')" 
                             class="btn btn-xs btn-default" required
							 ng-disabled="disabled"
                             ng-click="switchFieldMode(config.namespace, property.name)">Use Constant</button>
                     <button class="btn btn-xs btn-default" 
							 ng-disabled="disabled"
                             ng-if="($parent.job_config[config.namespace][property.name]['type'] != 'property' && validation[config.namespace][property.name]['type'] != 'property')"
                             ng-click="switchFieldMode(config.namespace, property.name)">Use Property</button>
			         <select ng-if="$parent.job_config[config.namespace][property.name]['type'] == 'property'" 
                             ng-model="$parent.job_config[config.namespace][property.name]['value']" required
                             name="{{config.namespace}}:{{property.name}}" 
							 ng-init="setFieldDefaultValue(config.namespace, property.name)"
							 ng-disabled="disabled" nmtk-namespace="{{config.namespace}}"
                             ng-options="o.value as o.label for o in file_fields[config.namespace]"></select>
                     <input ng-if="$parent.job_config[config.namespace][property.name]['type'] != 'property' && ! validation[config.namespace][property.name]['choices']"  
                            size="10" type="text" ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							ng-disabled="disabled" required 
							ng-change="validateEntry(config.namespace, property.name) && validateEntry(config.namespace, property.name)"
                            name="{{config.namespace}}:{{property.name}}" ></input>
					 <select ng-if="$parent.job_config[config.namespace][property.name]['type'] != 'property' && validation[config.namespace][property.name]['choices']"
							name="{{config.namespace}}:{{property.name}}" required
							ng-disabled="disabled" 
							ng-init="setFieldDefaultValue(config.namespace, property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></select>
			         <span class="alert-error" ng-show="job_config_form[config.namespace+':'+property.name].$dirty && job_config_form[config.namespace+':'+property.name].$invalid" ng-bind="validation[config.namespace][property.name]['error']"></span>
			       </td>
			       <td><label for="{{config.namespace}}:{{property.name}}">{{property.description}}</label></td>
			       <td>{{property.display_name||property.name}}</td>
			     </tr>
			  </tbody>
		  </table>
		</section>
         </div> <!-- /widget-content -->
       </div><!-- /widget stacked -->
     </div><!-- /col-md-12 -->

  <!--  Handle the case where the user needs to enter configuration data -->
     <div ng-if="config.type == 'ConfigurationPage'" class="col-md-12" >
       <div class="widget stacked">
         <div ng-click="toggleSection(section + ':' + $index)"  class="widget-header">
           <i class="glyphicon glyphicon-edit"></i>
           <h3>{{config.label}}</h3>
           <i ng-class="{'glyphicon-chevron-right': !sections[section + ':' + $index], 'glyphicon-chevron-down': sections[section + ':' + $index]}" 
              class="navbar-right glyphicon ic-right"></i>
         </div> <!-- /widget-header -->
         <div ng-show="sections[section + ':' + $index]"  class="widget-content">
           <section>
             <p>{{config.description}}</p>
             <table class="table table-bordered table-striped table-highlight"> 
			<thead>
			  <tr>
			      <th>Setting</th>
				  <th>Description</th>
			  	  <th>Field Name</th>
			  </tr>
			  </thead>
			  <tbody >
			     <tr ng-repeat="property in config.elements">
			       <td>
			         <input ng-if="!validation[config.namespace][property.name]['choices']" 
							type="text" ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							ng-disabled="disabled"
							ng-change="validateEntry(config.namespace, property.name)"
							ng-init="setFieldDefaultValue(config.namespace,property.name) && validateEntry(config.namespace, property.name)"
			                name="{{config.namespace}}:{{property.name}}" required>
					 <select ng-if="validation[config.namespace][property.name]['choices']"
							name="{{config.namespace}}:{{property.name}}" required
							ng-disabled="disabled"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></select>
			         <span ng-repeat="error in errors[config.namespace][property.name]" class="alert-error" ng-show="error">{{error}}</span>
			         <span class="alert-error" ng-show="job_config_form[config.namespace+':'+property.name].$dirty && job_config_form[config.namespace+':'+property.name].$invalid">Invalid selection</span>
				   </td>
			       <td><label for="{{config.namespace}}:{{property.name}}">{{property.description}}</label></td>
			       <td>{{property.display_name||property.name}}</td>
			     </tr>
			  </tbody>
		  </table>
		</section>
         </div> <!-- /widget-content -->
       </div><!-- /widget stacked -->
     </div><!-- /col-md-12 -->
     
</script>



<div class="container">
   <div class="row">   	  
     <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_configjob')" class="widget-header">
            <i class="glyphicon glyphicon-info-sign"></i>
            <h3>Configure a Job</h3>
            <i ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_configjob'), 'glyphicon-chevron-down': isDivEnabled('nmtk_configjob')}" 
               class="navbar-right glyphicon ic-right"></i>           
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_configjob')" class="widget-content">
            <p>
           	  Here you can choose the parameters required, and map fields from your
           	  input data file to the input fields required by the tool.
            </p>
            <p>
              Tools may specify requirements for constant values (often used to 
              &quot;tune&quot; the model, or for &quot;field mapping&quot; used
              to map data from your input data set into the model.  In the case
              where your model may not provide one or more input fields, you can
              optionally specify a constant value to use in lieu of a mapped field.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /col-md-12 -->
    </div><!-- /row -->
    
    <!--  disable HTML5 validation, since Angular does it -->
    <form name="job_config_form" novalidate>
    
    <tabset justified="false">
	    <tab heading="Tool Input Configuration" >
	    	<div ng-repeat="config in tool_data.config.input" class="row"
	    	     ng-init="section='input'">
	   	 		<ng-include src="'config.html'"></ng-include>
	   	 	</div>
	    </tab>
	    <tab heading="Tool Output Configuration" >
	    	<div ng-repeat="config in tool_data.config.output" class="row"
	    	     ng-init="section='output'">
	    		<ng-include src="'config.html'"></ng-include>
	    	</div>
	    </tab>
    </tabset>
	    
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-content centered">
            <button ng-show="disabled" ng-click="closeConfig()" class="btn btn-primary">Close</button>
            <button ng-hide="disabled" ng-click="closeConfig()" class="btn">Cancel</button>
            <button ng-hide="disabled" ng-click="submit_job()" ng-disabled="job_config_form.$invalid" class="btn btn-primary">Submit Job</button>
          </div>
        </div>
      </div>
    </div>
</div> <!-- /container -->