<script type="text/ng-template" id="config.html">
     <!-- Handle the case where we are getting a file whose inputs we use for 
          data mappings -->
     <div ng-if="config.type == 'File'" class="col-md-12" >
       <div class="widget stacked">
         <div ng-click="toggleSection(config.namespace)"  class="widget-header">
           <span class="glyphicon glyphicon-edit"></span>
           <h3>{{config.label}}</h3>
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="top" 
	                    title="Expand or collapse">
					<span ng-class="{'glyphicon-chevron-right': !sections[config.namespace], 'glyphicon-chevron-down': sections[config.namespace]}"
		               class="navbar-right glyphicon" ></span>
		     </button>
           <button class="navbar-right btn btn-xs btn-primary ic-right" ng-show="job_data.status=='Configuration Pending' && config.elements.length > 0" 
                   ng-click="cloneConfig(config.namespace)" stop-event='click'>Copy from Another Job</button>
           
         </div> <!-- /widget-header -->
         <div ng-show="sections[config.namespace]"  class="widget-content">
           <section>
             <p><label for="{{config.namespace}}">{{config.description}}</label></p>
			 <h4>Choose a file: <select ng-model="$parent.job_config_files[config.namespace]" dynamic-name="config.namespace" 
									    ng-change="updateFileFieldsFromResourceURI(config.namespace)" required
										ng-disabled="disabled"
										ng-init="updateFileFieldsFromResourceURI(config.namespace)"
                     ng-options="o.resource_uri as getFileStr(o) for o in list_files(config)"></select>
			     <p class="help-block error" ng-show="submit_attempted && job_config_form[config.namespace].$invalid">This field is required</p>
             </h4>
			

            <table ng-show="$parent.job_config_files[config.namespace] && config.elements.length > 0" class="table table-bordered table-striped table-highlight"> 
			<thead>
			  <tr>
			      <th>Setting</th>
			      <th>Type</th>
				  <th>Description</th>
			  	  <th>Field Name</th>
			  </tr>
			  </thead>
			  <tbody ng-if="$parent.job_config_files[config.namespace]">
			    <tr ng-repeat="property in config.elements" ng-hide="hideField(config.namespace, property)">
			       <td >
					 <select ng-if="$parent.job_config[config.namespace][property.name]['type'] == 'property'" 
                             ng-model="$parent.job_config[config.namespace][property.name]['value']" required
                             dynamic-name="config.namespace + ':' + property.name" 
							 ng-init="setFieldDefaultValue(config.namespace, property.name)"
							 ng-disabled="disabled"
                             ng-options="o.value as o.label for o in file_fields[config.namespace]"></select>
                     <input ng-if="$parent.job_config[config.namespace][property.name]['type'] != 'property' && ! validation[config.namespace][property.name]['choices'] && validation[config.namespace][property.name]['type']!='boolean'"  
                            size="10" type="text" ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							ng-disabled="disabled || validation[config.namespace][property.name].readonly" required 
							ng-init="setFieldDefaultValue(config.namespace,property.name) && validateEntry(config.namespace, property.name)"
							ng-change="validateEntry(config.namespace, property.name)"
                            dynamic-name="config.namespace + ':' + property.name"  ></input>
					 <select ng-if="$parent.job_config[config.namespace][property.name]['type'] != 'property' && validation[config.namespace][property.name]['choices'] && validation[config.namespace][property.name]['type']!='boolean'"
							name="config.namespace + ':' + property.name"  required
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly" 
							ng-init="setFieldDefaultValue(config.namespace, property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></select>
					<!-- The option when we have a boolean field (so on/off) -->
					<span ng-if="$parent.job_config[config.namespace][property.name]['type'] != 'property' && validation[config.namespace][property.name]['type']=='boolean'">
					<input type="radio" 
							dynamic-name="config.namespace + ':' + property.name" ng-required="!$parent.job_config[config.namespace][property.name]['value']"
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							value="1"
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></input> True<br />
					<input type="radio"
							dynamic-name="config.namespace + ':' + property.name" ng-required="!$parent.job_config[config.namespace][property.name]['value']"
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
							value="0"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></input> False
					</span>
			         <p class="help-block error" ng-show="(submit_attempted || job_config_form[config.namespace+':'+property.name].$dirty) && job_config_form[config.namespace+':'+property.name].$invalid" ng-bind="validation[config.namespace][property.name]['error']"></p>
			       </td>
                   <td>
					  <select ng-disabled="disabled || constants_only[config.namespace]" ng-change="switchFieldMode(config.namespace, property.name)" 
                              ng-model="$parent.job_config[config.namespace][property.name]['type']" 
                              ng-if="validation[config.namespace][property.name]['type'] != 'property'"
						      ng-options="item.value as item.detail for item in getFieldOptions(config.namespace, property.name)">
                      </select>
					  <span ng-if="validation[config.namespace][property.name]['type'] == 'property'">
                        Use file field
                      </span>
					  
                   </td>
			       <td><label for="{{config.namespace}}:{{property.name}}">{{property.description}}</label></td>
			       <td>{{property.display_name||property.name}}</td>
			     </tr>
			  </tbody>
		  </table>
		</section>
         </div> <!-- /widget-content -->
       </div><!-- /widget stacked -->
     </div><!-- /col-md-12 -->

  <!--  Handle the case where the user needs to enter configuration data -->
     <div ng-if="config.type == 'ConfigurationPage'" class="col-md-12" >
       <div class="widget stacked">
         <div ng-click="toggleSection(config.namespace)"  class="widget-header">
           <span class="glyphicon glyphicon-edit"></span>
           <h3>{{config.label}}</h3>
		   <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="top"
	                    title="Expand or collapse" >
					<span ng-class="{'glyphicon-chevron-right': !sections[config.namespace], 'glyphicon-chevron-down': sections[config.namespace]}"
		               class="navbar-right glyphicon" ></span>
		     </button>
			<button class="navbar-right btn btn-xs btn-primary ic-right" ng-show="job_data.status=='Configuration Pending' && config.elements.length > 0" 
                   ng-click="cloneConfig(config.namespace)" stop-event='click'>Copy from Another Job</button>
         </div> <!-- /widget-header -->
         <div ng-show="sections[config.namespace]"  class="widget-content">
           <section>
             <p>{{config.description}}</p>
             <table class="table table-bordered table-striped table-highlight"> 
			<thead>
			  <tr>
			      <th>Setting</th>
				  <th>Description</th>
			  	  <th>Field Name</th>
			  </tr>
			  </thead>
			  <tbody >
			     <tr ng-repeat="property in config.elements" ng-hide="validation[config.namespace][property.name].hidden">
			       <td>
			         <input ng-if="!validation[config.namespace][property.name]['choices'] && validation[config.namespace][property.name]['type'] != 'boolean'" 
							type="text" ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-change="validateEntry(config.namespace, property.name)"
							ng-init="setFieldDefaultValue(config.namespace,property.name) && validateEntry(config.namespace, property.name)"
			                dynamic-name="config.namespace + ':' + property.name"  required>
					<!-- The option when we have a set of choices to choose from --> 
					<select ng-if="validation[config.namespace][property.name]['choices'] && validation[config.namespace][property.name]['type'] != 'boolean'"
							dynamic-name="config.namespace + ':' + property.name"  required
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></select>
					<!-- The option when we have a boolean field (so on/off) -->
					<span ng-if="validation[config.namespace][property.name]['type']=='boolean'">
					<input type="radio" 
							dynamic-name="config.namespace + ':' + property.name" ng-required="!$parent.job_config[config.namespace][property.name]['value']"
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
							value="1"
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></input> True<br />
					<input type="radio"
							dynamic-name="config.namespace + ':' + property.name" ng-required="!$parent.job_config[config.namespace][property.name]['value']"
							ng-disabled="disabled  || validation[config.namespace][property.name].readonly"
							ng-init="setFieldDefaultValue(config.namespace,property.name)"
							value="0"
                            ng-model="$parent.job_config[config.namespace][property.name]['value']" 
 							ng-options="item.value as item.label for item in get_options(validation[config.namespace][property.name]['choices'])"></input> False
					</span>			         <span ng-repeat="error in errors[config.namespace][property.name]" class="alert-error" ng-show="error">{{error}}</span>
			         <p class="help-block error" ng-show="(submit_attempted || job_config_form[config.namespace+':'+property.name].$dirty) && job_config_form[config.namespace+':'+property.name].$invalid">{{validation[config.namespace][property.name]['error']}}</p>
				   </td>
			       <td><label for="{{config.namespace}}:{{property.name}}">{{property.description}}</label></td>
			       <td>{{property.display_name||property.name}}</td>
			     </tr>
			  </tbody>
		  </table>
		</section>
         </div> <!-- /widget-content -->
       </div><!-- /widget stacked -->
     </div><!-- /col-md-12 -->
     
</script>



<div class="container">
   <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="widget">
          <div>
            <button ng-show="disabled" ng-click="closeConfig()" class="navbar-right btn btn-xs btn-primary ic-right">Close</button>
            <button ng-hide="disabled" ng-click="closeConfig()" class="navbar-right btn btn-xs ic-right">Cancel</button>
            <button ng-hide="disabled" ng-click="submit_job()"  ng-class="{'btn-success': job_config_form.$valid, 'btn-warning': job_config_form.$invalid }"class="btn navbar-right btn-xs ic-right">Submit Job</button>
            <button ng-hide="disabled" ng-click="submit_job(true)" class="btn navbar-right btn-xs ic-right">Save Job</button>
            
          </div><br/>
        </div>
      </div>
   </div>
   <div class="row">   	  
     <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_configjob')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>Configure a Job</h1>
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="top" 
	                    title="Expand or collapse">
					<span ng-class="{'glyphicon-chevron-right': !isDifvEnabled('nmtk_configjob'), 'glyphicon-chevron-down': isDivEnabled('nmtk_configjob')}"
		               class="navbar-right glyphicon" ></span>
					    <span class="sr-only" >Expand or collapse</span>
		     </button>   
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-show="disabled" 
                   ng-click="createJob(tool_data.resource_uri,job_config, null, job_config_files)" stop-event='click'>Clone Job</button>      
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_configjob')" class="widget-content">
            <p>
	       This page allows you to configure a job, by setting any required parameters
	       or input values for the tool, and telling the tool how to locate the fields
	       it needs from your input data file(s). 
            </p>
            <p>
	       Tools may ask for parameters that control the tool's behavior, constant values that
	       may vary depending on the data you are analyzing, or for &quot;field mapping&quot;,
	       which associates fields or attributes in your input data to the fields that the model
	       needs.
	    </p>
	    <p>
	       If your data file is missing certain fields, you may be able to provide a constant
	       value instead of a mapped field.  If you provide a constant instead of a mapped field
	       name, the same value you supply will be used for all the rows (or features) in your input file.
	       Some tools will let you provide all constant values instead of mapped fields, in which case
	       you don't need an input file at all and the job will just have one result computed from
	       the constant values you provided.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /col-md-12 -->
    </div><!-- /row -->
    
    <!--  disable HTML5 validation, since Angular does it -->
    <form name="job_config_form" novalidate>
    
    <tabset justified="false">
	    <tab heading="Tool Input Configuration" >
	    	<div ng-repeat="config in tool_data.config.input" class="row"
	    	     ng-init="section='input'">
	   	 		<ng-include src="'config.html'"></ng-include>
	   	 	</div>
	    </tab>
	    <tab heading="Tool Output Configuration" >
	    	<div ng-repeat="config in tool_data.config.output" class="row"
	    	     ng-init="section='output'">
	    		<ng-include src="'config.html'"></ng-include>
	    	</div>
	    </tab>
    </tabset>
	    
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-content centered">
            <button ng-show="disabled" ng-click="closeConfig()" class="btn btn-primary">Close</button>
            <button ng-hide="disabled" ng-click="closeConfig()" class="btn">Cancel</button>
            <button ng-hide="disabled" ng-click="submit_job()"  ng-class="{'btn-success': job_config_form.$valid, 'btn-warning': job_config_form.$invalid }"class="btn">Submit Job</button>
            <button ng-hide="disabled" ng-click="submit_job(true)"  class="btn">Save Job</button>
          </div>
        </div>
      </div>
    </div>
</div> <!-- /container -->
