    <div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="delete_type_title">Remove {{type}}</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div ng-hide="jobs_in.length + jobs_out.length" class="col-md-12">     
          Are you sure you wish to remove the {{type}} {{name}}?
        </div>
        <div ng-show="jobs_in.length + jobs_out.length" class="col-md-12">
	        <div ng-show="jobs_in" class="widget stacked">
	          <div class="widget-header">
	            <span class="glyphicon glyphicon-remove-circle"></span>
	               <h3>Used as Job Input</h3>
	          </div>
	          <div class="widget-content">
	            <p>This data file is currently used as input by {{jobs_in.length}} job(s) (shown below.)  Deleting the file will
	               not be possible unless you first delete (or reconfigure) each job that is using it.
	            </p>
	            
	            <table class="table table-bordered table-striped table-highlight"> 
				<caption>
				 <strong>Table Caption</strong>
				  <details>
				   <summary>Summary</summary>
				   <p>Description of table contents</p>
				  </details>
				</caption>
				
			      <thead>
			        <tr>
			          <th>Job Description</th>
				      <th>Tool Name</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="job in jobs_in">
			          <td>{{job.description}}</td>
			          <td>{{job.tool_name}}</td>
			        </tr>
			      </tbody>
			    </table>
	          </div>
	        </div>
	        <div ng-show="jobs_out" class="widget stacked">
	          <div class="widget-header">
	            <span class="glyphicon glyphicon-remove-circle"></span>
	               <h3>Tied to Job Output</h3>
	          </div>
	          <div class="widget-content">
	            <p>This data file is the output of 1 job (shown below.)  Please delete the job before deleting the file.
	            </p>
	            
	            <table class="table table-bordered table-striped table-highlight"> 
				<caption>
				 <strong>Table Caption</strong>
				  <details>
				   <summary>Summary</summary>
				   <p>Description of table contents</p>
				  </details>
				</caption>
				
			      <thead>
			        <tr>
			          <th>Job Description</th>
				      <th>Tool Name</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr ng-repeat="job in jobs_out">
			          <td>{{job.description}}</td>
			          <td>{{job.tool_name}}</td>
			        </tr>
			      </tbody>
			    </table>
	          </div>
	        </div>
        </div>
        
      </div><br>
    </div>
    <div class="modal-footer">
      <button  ng-click="close()" ng-hide="jobs_in.length + jobs_out.length" class="btn">Cancel</button>
      <button  ng-click="close()" ng-show="jobs_in.length + jobs_out.length" class="btn btn-primary">Close</button>
      <button ng-click="delete()" ng-hide="jobs_in.length + jobs_out.length" class="btn btn-primary">Remove</button>
    </div>
    </div>
