  <div class="modal-dialog">
    <div class="modal-content">   
      <div class="modal-header">
    <h3>Download Job Results</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">  	
        <div class="control-group">
          <label class="control-group" for="job">Choose your desired file format</label>
          <div class="controls">
            <p class="help-block">Please click one of the links below to download your
            job results in the specified file format.</p>
            <br>
            <!-- <a ng-repeat"(desc, fmt) in format_types" 
                    ng-href="{{getUrl(fmt)}}">
                    {{desc}}</a><br> -->
            <a ng-href="{{download_url}}?format=csv">Comma-Separated Values</a><br>   
            <a ng-href="{{download_url}}?format=xls">Microsoft Excel (.xls)</a><br>
            <a ng-href="{{download_url}}?format=geojson">GeoJSON Format</a><br>
          </div>
        </div>
      </div>      
    </div>
   </div>
    
  	<div class="modal-footer">
    	<button ng-click="close()" class="btn btn-primary">Close</button>
	</div>
  </div>
  </div>
