  <div class="modal-content">   
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="feedback_title">Feedback</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <p>
            The NMTK development team welcomes your feedback. Please rate your 
            experience with this page (/demo/dashboard/) and give us any comments 
            you feel inclined to share. You can return to this feedback form from 
            the page you were viewing later to update your opinions
	    (this application saves and updates your comments online rather than 
            emailing us).
          </p>
          <p>
            Push the 'Cancel' button to return to the page you were viewing, 
            or push 'Save' to update your comments and ratings.
          </p>
          <div class="control-group" ng-repeat="field in fields">
             <label class="control-group" for="{{field.field}}">{{field.display_name}}</label>
             <div ng-switch on="field.type" class="controls">
                <p class="help-block">{{field.help}}</p>
                <input ng-switch-when="input" type="{{field.type}}" class="input" 
                 name="{{field.field}}" id="{{field.field}}" ng-model="feedback[field.field]">
                
                <select id="{{field.field}}" ng-switch-when="select" 
                        ng-model="feedback[field.field]" ng-options="o.value as o.label for o in field.values" >
                
                </select>
                <textarea title="Feedback" ng-switch-when="textarea" ng-model="feedback[field.field]"></textarea>
             </div>
          </div>
          
        </div>
      </div>
    </div>
      
    <div class="modal-footer">
      <button ng-click="close()" class="btn">Cancel</button>
      <button ng-click="save()" class="btn btn-primary">Save</button>
    </div>
    </div>
