  <div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="view_file_details_title">View and Edit file details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <!--  The non-editable fields -->
          <div class="control-group">
             <div ng-grid="gridOptions" class="gridStyle"></div>
          </div>
          <!--  The editable fields -->
          <hr />
          <div class="control-group" ng-repeat="field in fields|filter:filterEditable">
             <label class="control-group" for="{{field.field}}">{{field.display_name}}</label> - {{field.description}}
             <div class="controls">
                <input ng-disabled="field.disabled" type="text" class="input" 
                 name="{{field.field}}" id="{{field.field}}" ng-model="filedata[field.field]">
             </div>
          </div>
        </div>
      </div>
	</div>
	<div class="modal-footer">
      <button  ng-click="close()" class="btn">Cancel</button>
      <button ng-click="save()" class="btn btn-primary">Save</button>
	</div>	 
  </div>
