<IFRAME ng-hide="1" id="hidden_upload" name="hidden_upload" title="Hidden upload" src="" onLoad="uploadDone()"
        style="width:0;height:0;border:0px solid #fff"></IFRAME>
<script type="text/ng-template"  id="ie_upload.html">
	<input type="file" ng-model="fileupload" name="file" /><br />
    <input type="submit" name="submit" value="Upload File" />
</script>

<div class="container" keep-scroll-pos>
   <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_filehelp')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>Files</h1>            
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="right" id="right" 
	                    title="" data-original-title="Tooltip on right">
					<span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_filehelp'), 'glyphicon-chevron-down': isDivEnabled('nmtk_filehelp')}"
		               class="navbar-right glyphicon" ></span>
					    <span class="sr-only" >Expand or collapse</span>
		     </button>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_filehelp')" class="widget-content">
            <p>
            Here you can manage your data files, including uploading your own data for use in a tool.
	    Once stored, a data file can be used as the input for one or more jobs.
	    Use the <a href="/#/tool-explorer/">Tool Explorer</a> to find out what data each Tool needs.
	    You can set up jobs from the <a href="#/job/">Jobs</a> tab.
            </p>
            <p>
            Many common data formats will be recognized when you upload them, including CSV and
	    DBF and Excel files.  If one of those tabular formats includes long/lat (or
	    longitude/latitude) values, it can also be mapped.
	    Common geographic vector formats are also supported for upload.  To upload a shapefile,
	    put all of its components in a single .zip archive.  The archive file will be unpacked
	    automatically and the shapefile loaded.
            </p>
            <p>
            If you want  to use the output from one job as the input to another, the results from each job
	    are stored here as well and can be used just like any uploaded file.
            </p>
            <p>
            Once you've uploaded a file, you can use its "Action" dropdown to add a description,
	    view the file or its metadata, or retrieve the file.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div ng-click="toggleDiv('nmtk_fileupload_panel')" class="widget stacked">
          <div class="widget-header">
            <span class="glyphicon glyphicon-upload"></span>
            <h1>Add New Files</h1>
                        <span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_fileupload_panel'), 'glyphicon-chevron-down': isDivEnabled('nmtk_fileupload_panel')}" 
               class="navbar-right glyphicon ic-right"></span>
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="switchView('classic_file_upload')" 
                    stop-event="click" 
                    ng-show="(browser_name!='Explorer') && (views.classic_file_upload)">Drag &amp; Drop Upload</button>
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="switchView('classic_file_upload')" 
                    stop-event="click" 
                    ng-show="(browser_name!='Explorer') && (!views.classic_file_upload)">Classic Upload Form</button>

          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_fileupload_panel')" class="widget-content">
          
            <div ng-hide="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <form action="{{upload_uri}}" id="fileUpload" method="POST" enctype="multipart/form-data">
		         <div class="progress progress-success progress-striped active" id="progress">
		           <div class="bar" style="width: 0%;"></div>
		         </div> <!-- /progress -->
		        <h4 class="text-center">Drag one or more data files here to add them to your list of files.</h4>
		        <p class="text-center">(Files will upload one at a time, with a progress bar reflecting upload status.)</p>
	          </form>
	        </div> <!-- /fileUploadView -->
	        
	        <div ng-show="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <h4 class="text-center">Use the upload dialog below to select a file, then press <strong>Upload File</strong>
	          to add the file to your account.</h4>
	        
	          <form id="ie_uploadform" ng-include="'ie_upload.html'" target="hidden_upload" action="{{upload_uri}}?format=json" method="POST" enctype="multipart/form-data">
	             
	          </form>
	        </div> <!-- /fileUploadView -->
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div ng-hide="datafile_cache.length" class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-content centered">
            <button class="btn">File Library is Empty</button>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div>
    <div class="row" ng-show="datafile_cache.length">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-header">
            <span class="glyphicon glyphicon-wrench"></span>
            <h1>Data Files</h1>
          </div> <!-- /widget-header -->
          <div class="widget-content">
			<section id="tables">
			  <h4>Displaying {{datafile_cache.length}} File<span ng-if="datafile_cache.length > 1">s</span></h4>	
				<div ng-grid="gridOptions" class="gridStyle ngGridOverflow"></div>	
			</section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->