<IFRAME id=hidden_upload name=hidden_upload src='' onLoad='uploadDone()'
        style='width:0;height:0;border:0px solid #fff'></IFRAME>
<script type="text/ng-template"  id="ie_upload.html">
	<input type="file" ng-model="fileupload" name="file" /><br />
    <input type="submit" name="submit" value="Upload File" />
</script>

<div class="container">
   <div class="row">
   	  
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_filehelp')" class="widget-header">
            <i class="glyphicon glyphicon-info-sign"></i>
            <h3>Files</h3>            
            <i ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_filehelp'), 'glyphicon-chevron-down': isDivEnabled('nmtk_filehelp')}" 
               class="navbar-right glyphicon ic-right"></i>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_filehelp')" class="widget-content">
            <p>
            Here you can manage your data files.  Once stored, a data file can be 
            used as the input for one or more datafiles.
            </p>
            <p>
            Need to use the output from one datafile as the input to another?  Head over 
            to the <a href="#/job/">My Jobs</a> tab and choose to add the 
            results to your file library - you can then use that output file
            as the input for future jobs.
            </p>
            <p>
            Once you've uploaded a file, you can use the <i ng-hide="(browser_name=='Explorer')"
		   class="glyphicon glyphicon-info-sign"></i> 
					    <a ng-show="(browser_name=='Explorer')">[edit]</a> link to add a description and view
					    additional information about the file.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div ng-click="toggleDiv('nmtk_fileupload_panel')" class="widget stacked">
          <div class="widget-header">
            <i class="glyphicon glyphicon-upload"></i>
            <h3>Add New Files</h3>
                        <i ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_fileupload_panel'), 'glyphicon-chevron-down': isDivEnabled('nmtk_fileupload_panel')}" 
               class="navbar-right glyphicon ic-right"></i>
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="switchView('classic_file_upload')" 
                    stop-event="click" 
                    ng-show="(browser_name!='Explorer') && (views.classic_file_upload)">Drag &amp; Drop Upload</button>
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="switchView('classic_file_upload')" 
                    stop-event="click" 
                    ng-show="(browser_name!='Explorer') && (!views.classic_file_upload)">Classic Upload Form</button>

          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_fileupload_panel')" class="widget-content">
          
            <div ng-hide="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <form action="{{upload_uri}}" id="fileUpload" method="POST" enctype="multipart/form-data">
		         <div class="progress progress-success progress-striped active" id="progress">
		           <div class="bar" style="width: 0%;"></div>
		         </div> <!-- /progress -->
		        <h4 class="text-center">Drag one or more data files here to add them to your list of files.</h4>
		        <p class="text-center">(Files will upload one at a time, with a progress bar reflecting upload status.)</p>
	          </form>
	        </div> <!-- /fileUploadView -->
	        
	        <div ng-show="(browser_name=='Explorer' || views.classic_file_upload)" class="fileUploadView well">
	          <h4 class="text-center">Use the upload dialog below to select a file, then press <strong>Upload File</strong>
	          to add the file to your account.</h4>
	        
	          <form id="ie_uploadform" ng-include="'ie_upload.html'" target="hidden_upload" action="{{upload_uri}}?format=json" method="POST" enctype="multipart/form-data">
	             
	          </form>
	        </div> <!-- /fileUploadView -->
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div ng-hide="datafile_cache.length" class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-content centered">
            <button class="btn">File Library is Empty</button>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div>
    <div class="row" ng-show="datafile_cache.length">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-header">
            <i class="glyphicon glyphicon-wrench"></i>
            <h3>Data Files</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
			<section id="tables">
			  <h4>Displaying {{datafile_cache.length}} File<span ng-if="datafile_cache.length > 1">s</span></h4>	
				<div ng-grid="gridOptions" class="gridStyle ngGridOverflow"></div>	
			</section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->