<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_introduction')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>Nonmotorized Travel Analysis Toolkit Introduction</h1>            
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="right" id="right" 
	                    title="Expand or collapse" alt="Expand or collapse" data-original-title="Tooltip on right">
					<span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_introduction'), 'glyphicon-chevron-down': isDivEnabled('nmtk_introduction')}"
		               class="navbar-right glyphicon" ></span>
					   
					   <span class="sr-only" >Expand or collapse</span>
		     </button>  
          </div> <!-- /widget-header -->
          <div id="nmtk_introduction" ng-show="isDivEnabled('nmtk_introduction')" class="widget-content">
	     <p>
             The Nonmotorized Travel Analysis Toolkit is a growing suite of software applications that support pedestrian
             and bicycle transportation planning.
             </p>
	     <p>
		The Toolkit offers a number of analysis tools
		that you can apply to your own data,
		including models for demand estimation
		on roadway segments (or "links") and at intersections.
	     </p>
	     <p>
		These are the steps for using the Toolkit:
		<ul>
                 <li>Begin by exploring the analysis tools (below):
                   <ul>
                     <li>Read the <a href="/#/tool-explorer/">tool documentation</a> to learn about what each tool does and how it was developed.</li>
                     <li>Familiarize yourself with the data required for each tool by loading and examining the tool's sample data and sample job.</li>
                   </ul>
                 </li>
                 <li>Prepare and <a href="#/files/">upload</a> the necessary data for your selected tool.</li>
			     <li>Start a new analysis job, filling in the necessary information.</li>
			     <li>Submit the analysis (a "job") to run it (your data will be uploaded to the tool, and you 
			         will be notified when the results are ready.)</li>
	  		     <li>View the results, which can be accessed in one of the following ways:
  			       <ul>
			         <li>In your browser (for spatial data, you can see it on a map!)</li>
			         <li>As a Microsoft Excel Spreadsheet (XLS) file.</li>
			         <li>As a Comma-Separated Values (CSV) file.</li>
				 <li>As a GeoJSON file (the &quot;native&quot; format for the Toolkit)</li>
                   </ul>
                 </li>
               </ul>
	     </p>
             <p>Below is a list of currently available tools.  It is expected that new
              modeling and anslysis tools will be added in the future.
		Select a tool to read about it and try it out.  When you 
		are ready to apply the analysis tool to your own data, click on the <a href="#/job/">
		Jobs</a> tab to create and run your own customized analysis.</p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-header">
            <span class="glyphicon glyphicon-wrench"></span>
            <h1>Explore the Available Tools</h1>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div ng-grid="gridOptions" class="gridStyle"></div>		
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->
