<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_introduction')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>NMTK Introduction</h1>            
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="right" id="right" 
	                    title="Expand or collapse" alt="Expand or collapse" data-original-title="Tooltip on right">
					<span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_introduction'), 'glyphicon-chevron-down': isDivEnabled('nmtk_introduction')}"
		               class="navbar-right glyphicon" ></span>
					   
					   <span class="sr-only" >Expand or collapse</span>
		     </button>  
          </div> <!-- /widget-header -->
          <div id="nmtk_introduction" ng-show="isDivEnabled('nmtk_introduction')" class="widget-content">
	     <p>
             The Non-Motorized Travel Analysis Toolkit (NMTK) is a flexible tool that allows you
             to use a wide range of models for transportation planning via a flexible
             interface.
             </p>
	     <p>
		The NMTK  provides access to a number of analysis tools
		that you can apply to your own data,
		initially including models for direct demand estimation
		both on roadway links and at intersections.
	     </p>
	     <p>
		These are the steps for using the toolkit:
		<ul>
                 <li>Begin by exploring the tools (below):
                   <ul>
                     <li>Read the <a href="/#/tool-explorer/">tool documentation</a> to learn about what the tool does and how it was developed.</li>
                     <li>Familiarize yourself with the data required for a tool by loading and examining the tool's sample data and sample job.</li>
                   </ul>
                 </li>
                 <li>Prepare and <a href="#/files/">upload</a> the necessary data for your selected tool.</li>
			     <li>Start a new job, filling in the necessary job parameters.</li>
			     <li>Submit the job to run it (your data will be uploaded to the tool, and you 
			         will be notified when the results are ready.)</li>
	  		     <li>View the results, which can be accessed in one of the following ways:
  			       <ul>
			         <li>In your browser (for spatial data, you can see it on a map!)</li>
			         <li>As a Microsoft Excel Spreadsheet (XLS) file.</li>
			         <li>As a Comma-Separated Values (CSV) file.</li>
				 <li>As a GeoJSON file (the &quot;native&quot; format that NMTK uses for data interchange)</li>
                   </ul>
                 </li>
               </ul>
	     </p>
             <p>Below is a list of Tools currently provided by this NMTK Server.
		Select a tool to read about it and try it out.  When you 
		are ready to try running your own job, click on the <a href="#/job/">
		Jobs</a> tab to create and run your own NMTK job.</p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-header">
            <span class="glyphicon glyphicon-wrench"></span>
            <h1>Explore the Available Tools</h1>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div ng-grid="gridOptions" class="gridStyle"></div>		
          </div> <!-- /widget-content -->
        </div> <!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->
