<div class="container">
   <div class="row">   	  
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_jobs')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>Jobs</h1>            
            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="right" id="right" 
	                    title="" data-original-title="Tooltip on right">
					<span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_jobs'), 'glyphicon-chevron-down': isDivEnabled('nmtk_jobs')}"
		               class="navbar-right glyphicon" ></span>
					    <span class="sr-only" >Expand or collapse</span>
		     </button>          
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_jobs')" class="widget-content">
            <p>
            Here you can create new jobs by pairing a <a href="#/files/">data file</a>
            with a <a href="#/">tool</a> and then providing some configuration parameters.
            </p>
            <p>
            When a job is running, you can review it's current status on this tab, as reported by the
            tool server.  Once the job is complete, you can view it's results or download them for further
	    analysis.  Job results are also stored in your <a href="/#/files/">Files</a> library and you
	    can retrieve them from there as well, or use them as input to other jobs.
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    
    <div class="row"  ng-show="job_cache.length">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_view_jobs')"  class="widget-header">
            <span class="glyphicon glyphicon-road"></span>
            <h1>Current Jobs</h1>
            <span ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_view_jobs'), 'glyphicon-chevron-down': isDivEnabled('nmtk_view_jobs')}" 
               class="navbar-right glyphicon ic-right"></span>  
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="createJob()" stop-event="click">Create a New Job</button>
               
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_view_jobs') && job_cache.length"  class="widget-content">
            <section id="tables">
			  <h4>Displaying {{job_cache.length}} Job<span ng-if="job_cache.length > 1">s</span></h4>	
				<div ng-grid="gridOptions" class="gridStyle ngGridOverflow"></div>	
			</section>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    <div ng-hide="job_cache.length" class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div class="widget-content centered">
            <button class="btn btn-primary" ng-click="createJob()" stop-event="click">Create a New Job</button>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div>
</div> <!-- /container -->