<div class="container">
   <div class="row">   	  
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_jobs')" class="widget-header">
            <i class="glyphicon glyphicon-info-sign"></i>
            <h3>Your Jobs</h3>            
            <i ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_jobs'), 'glyphicon-chevron-down': isDivEnabled('nmtk_jobs')}" 
               class="navbar-right glyphicon ic-right"></i>          
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_jobs')" class="widget-content">
            <p>
            Here you can create new NMTK jobs by pairing a <a href="#/files">data file</a>
            with a <a href="#/">tool</a> and then providing some configuration parameters.
            </p>
            <p>
            When a job is running, you can review it's current status, as reported by the
            tool server - and once it completes you can view it's results (or add them
            to your file library so you can "chain" the results into a new job.)
            </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('nmtk_view_jobs')"  class="widget-header">
            <i class="glyphicon glyphicon-road"></i>
            <h3>Your Current Jobs</h3>
            <i ng-class="{'glyphicon-chevron-right': !isDivEnabled('nmtk_view_jobs'), 'glyphicon-chevron-down': isDivEnabled('nmtk_view_jobs')}" 
               class="navbar-right glyphicon ic-right"></i>  
            <button class="navbar-right btn btn-xs btn-primary ic-right" ng-click="createJob()" stop-event="click">Create a New Job</button>
               
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('nmtk_view_jobs')"  class="widget-content">
            <section id="tables">
			  <h4>Displaying {{rest.job.metadata.total_count}} Jobs</h4>	
				<div ng-grid="gridOptions" class="gridStyle ngGridOverflow"></div>	
			</section>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- /container -->