<div class="btn-group">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="javascript: void(0);" ng-hide="row.entity.status != 'Complete'" ng-click="downloadDatafile(null, row.entity)"><span class="glyphicon glyphicon-cloud-download"></span> Download Results</a></li>
    <li><a href="javascript: void(0);" ng-hide="row.entity.status != 'Complete'" ng-href="#/view_results/{{row.entity.id}}"><span class="glyphicon glyphicon-eye-open"></span> View Results</a></li>
    <li><a href="javascript: void(0);" ng-click="openDialog(row.entity)"><span class="glyphicon glyphicon-eye-open"></span> View Job Details</a></li>
    <li><a href="javascript: void(0);" ng-click="viewJobStatusLog(row.entity)"><span class="glyphicon glyphicon-align-justify"></span> Job Status</a></li>
    <li><a href="javascript: void(0);" ng-show="row.entity.status == 'Configuration Pending'" ng-click="configureJob(row.entity)"><span class="glyphicon glyphicon-list"></span> Configure Job</a></li>
    <li><a href="javascript: void(0);" ng-hide="row.entity.status == 'Configuration Pending'" ng-click="configureJob(row.entity)"><span class="glyphicon glyphicon-list"></span> View Configuration</a></li>
    <li class="divider"></li>
    <li ng-show="row.entity.status == 'Complete'"><a href="javascript: void(0);" class="" ng-click="deleteJob('job',row.entity,row.entity.description,'Job')"><span class="glyphicon glyphicon-trash"></span> Remove Job</a></li>
    <li ng-show="row.entity.status != 'Complete'"><a href="javascript: void(0);" class="" ng-click="removeFile('job',row.entity,row.entity.description,'Job', 'Cancel')"><span class="glyphicon glyphicon-trash"></span> Remove Job</a></li>
  </ul>
</div>
