<div class="container" keep-scroll-pos>
   <div class="row">
      <div class="col-md-12">
        <div class="widget stacked">
          <div ng-click="toggleDiv('toolexplorer_intro')" class="widget-header">
            <span class="glyphicon glyphicon-info-sign"></span>
            <h1>Tool Explorer Introduction</h1>
	            <button type="button" class="btn btn-link pull-right btn-right" 
	                    tooltip="Expand or collapse"
	                    data-toggle="tooltip" data-placement="right" id="right" 
	                    title="" data-original-title="Tooltip on right">
					<span ng-class="{'glyphicon-chevron-right': !isDivEnabled('toolexplorer_intro'), 'glyphicon-chevron-down': isDivEnabled('toolexplorer_intro')}"
		               class="navbar-right glyphicon" ></span>
					    <span class="sr-only" >Expand or collapse</span>
		        </button>
          </div> <!-- /widget-header -->
          <div ng-show="isDivEnabled('toolexplorer_intro')" class="widget-content">
          <p>
           The Tool Explorer shows you the tools that are available,
           review their documentation and supporting materials, and explore sample data sets.
	  </p>
	  <p>
	     In order to use a tool described here, you will need to do the following:
	     <ul>
		<li>Prepare and upload the necessary data for your selected tool through the <a href="#/files/">Files</a> tab
		   (or you can use the sample data as described below).</li>
		<li>Start a new job, filling in the necessary job parameters. There are several ways to start a job:
		   <ul>
		      <li>Using sample data by first choosing to "Load Tool Sample Data" and then choosing "Create Sample Job"</li>
		      <li>With the tool displayed on this page using the "Create Job with this Tool" button</li>
		      <li>With any available tool from the <a href="#/job/">Jobs</a> tab</li>
		   </ul>
		</li>
		<li>Submit the job
		   <ul>
		      <li>Your data will be sent to the tool for processing</li>
		      <li>Check the job status on the <a href="#/job/">Jobs</a> tab</li>
		   </ul>
		</li>
		<li>Once the job is done, you can view the results (and, for spatial data, you can explore it on a map),
		or you can download the results in one of these formats:
		<ul>
		   <li>As a Microsoft Excel Spreadsheet (XLS) file (no geography)</li>
		   <li>As a Comma-Separated Values (CSV) file (no geography)</li>
		   <li>As a JSON file (for files with spatial data, NMTK Server will provide the data in GeoJSON format, 
		                       a popular geographic file format)</li>
		</ul>
		</li>
	     </ul>
	  </p>
	  <p>
	     If you are just interested in seeing what a tool does, load its sample data, then create a sample job and submit it.
	     When you are ready, you can upload your own data and run up your own job.
	  </p>
          </div> <!-- /widget-content -->
        </div><!-- /widget stacked -->
      </div><!-- /span12 -->
    </div><!-- /row -->
    

    <div class="row">
      <div class="col-md-6">
          <div class="widget">
            <div class="widget-header">
              <span class="glyphicon glyphicon-wrench"></span>
              <h1>Explore the Available Tools</h1>
            </div> <!-- /widget-header -->
            <div class="widget-content">
	  		  <section>
			    <h4>Select a tool to learn more about it ({{tool_cache.length}} tools available.)</h4>	
				<div ng-grid="gridOptions" class="gridStyle" style="height: 200px;"></div>
			  </section>
            </div> <!-- /widget-content -->
          </div> <!-- /widget stacked -->

          <div ng-show="selections[0]" class="widget">
            <div class="widget-header">
              <span class="glyphicon glyphicon-link"></span>
              <h1>Documentation Links</h1>
            </div> <!-- /widget-header -->
            <div class="widget-content">
			  <section id="tables">
				<table class="table table-bordered table-striped table-highlight"> 
				  <tbody>
					<tr ng-repeat="link in selections[0].config.documentation.links">						            
					  <td><a target="_blank" ng-href="{{link.url}}">{{link.title}}</td>
				    </tr>						          
				  </tbody>
				</table>
			 </section>
            </div> <!-- /widget-content -->
          </div> <!-- /widget stacked -->
      </div><!-- /span6 -->
      <div ng-show="selections[0]" class="row">
        <div class="col-md-6">
          <div class="widget ">
            <div class="widget-content centered">
              <button ng-click="createJob(selections[0].resource_uri)" class="btn btn-sm btn-primary">Create Job with this Tool</button>
              <button ng-click="loadSampleData(selections[0])" ng-hide="sample_data_loaded" class="btn btn-sm btn-primary">Load Tool Sample Data</button>
              <button ng-click="createJob(selections[0].resource_uri, selections[0].config.sample.config,
                                          selections[0].config.sample.files)"
                      ng-hide="!sample_data_loaded || sample_data_pending"
                      class="btn btn-sm btn-primary">Create Sample Job</button>
              <button class="btn btn-sm" ng-show="sample_data_pending">Sample Data Loading...</button>
            </div>
          </div>
        </div>
        <div ng-show="selections[0]" class="col-md-6">
          <div ng-class="{'stacked': !selections[0]}" class="widget">
            <div class="widget-header">
              <span class="glyphicon glyphicon-tasks"></span>
              <h3>{{selections[0].name}}</h3>
            </div> <!-- /widget-header -->
            <div class="widget-content" ng-bind-html-unsafe="selections[0].config.info.text">
            </div> <!-- /widget-content -->
          </div> <!-- /widget stacked -->
        </div><!-- /span6 -->
      </div><!-- /row -->
    </div><!-- /row -->
</div> <!-- /container -->
