      		<div class="widget stacked">
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Jobs</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
				<section id="tables">
				<% if (meta.total_count > 0) { %>
				<h4>Displaying Unconfigured Jobs <%= meta.offset+1 %> - <%= meta.offset+jobs.length %> (of <%= meta.total_count %> jobs.)</h4>	
							  <table class="table table-bordered table-striped table-highlight"> 
						        <thead>
						          <tr>
						            <th>Tool Name</th>
						            <th>Create Date</th>
						            <th>Status</th>
						            <th>Manage</th>
						          </tr>
						        </thead>
						        <tbody>
						        <% _.each(jobs, function(job) { %>
						          <tr>
						            <td><%= job.get("tool_name") %></td>
						            <td><%= Date(job.get("date_created")) %></td>
						     		<td><%= job.get("status") %></td>
						     		<td><a data-pk="<%= job.get('job_id') %>" class="btn btn-small remove">
										<i class="btn-icon-only icon-remove"></i>										
									</a><a href="#/configure/<%= job.get('job_id') %>" class="btn btn-small edit">
										<i class="btn-icon-only icon-edit"></i>										
									</a></td>
						          </tr>
						         <% }); %>
						          
						        </tbody>
						      </table>
						      <%= pagertemplate %>
		        <% } else { %>
		        <h4>You currently have no unconfigured jobs.</h4>
		        <% } %>
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	