.ng-cloak {
    display: none !important;
}

.angular-leaflet-map {
  height: 400px;
  cursor: pointer!important;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

td.centered, th.centered, div.centered {
  text-align: center;
}

.modal input, .modal select, .model textarea {
    width: 100%;
}

input[type="checkbox"] {
	width: auto;
} 

textarea {
    width: 100%;
}

/*
 * Wrap text in cells - This hides cell data, so it's bad...
 */
/* .cellWrapText {
    word-wrap: break-word !important;
    white-space: normal !important;
} */

/* 
 * Allows tooltips over ng-grid cells to work properly, also helps with 
 * drop downs
 */
.cellOverflow {
    overflow: visible;
}

/* Same as above, but also center the content */
.cellCenterOverflow {
	text-align: center;
	overflow: visible;
}
/*
 * In the cases where we use a dropdown list, we need to reset
 * the options so they are left-aligned again - this does that.
 */
.cellCenterOverflow .dropdown-menu {
	text-align: left;
}

/*
 * Normally ng-grid defines in (see ng-grid.css) a ngViewport class that
 * uses overflow auto.  In the case of our drop-downs, we don't want this because
 * it obscures the drop-down list.  So here we override it and set it to visible.
 * The side effect here is that column resizing gets funkified...  So in many cases
 * we simply remove that
 */

.ngGridOverflow .ngViewport {
	overflow: visible !important;
}

// Needed for angular-bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }