{% load url from future %}{% load static %}{% load widget_tweaks %}<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app">
	<head>
{% block meta %}
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=Edge" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
{% endblock %}
	<title>{% block title %}Login :: Base Admin{% endblock%}</title>
{% block meta_extra %}{% endblock %}
{% block ie_compatibility %}
	  <!-- Add in some stuff so we can support IE8 -->
	  <!--[if lte IE 8]>
	    <script>
	      document.createElement('ng-include');
	      document.createElement('ng-pluralize');
	      document.createElement('ng-view');
	
	      // Optionally these for CSS
	      document.createElement('ng:include');
	      document.createElement('ng:pluralize');
	      document.createElement('ng:view');
	    </script>
	  <![endif]-->
{% endblock %}
{% block css %}
	    <link href="{% get_static_prefix %}NMTK_ui/css/bootstrap.css" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/font-awesome.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/base-admin-2.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/base-admin-2-responsive.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/dashboard.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}NMTK_ui/css/signin.css" rel="stylesheet" type="text/css">
		<link href="{% get_static_prefix %}NMTK_ui/css/ng-grid.css" rel="stylesheet" />
	    <link href="{% get_static_prefix %}NMTK_ui/css/custom.css" rel="stylesheet" />
	    <link href="{% get_static_prefix %}NMTK_ui/css/custom2.css" rel="stylesheet" />
 		<link rel="stylesheet" href="{% get_static_prefix %}NMTK_ui/css/leaflet.css" />
{% endblock %}
{% block javascript %}
	{% comment %}
	<!--  These are included in the require.js config...and are included for all browsers -->
	<!--[if lt IE 9]>
	    <script src="{% get_static_prefix %}NMTK_ui/js/lib/html5shiv.js"></script>
	    <script src="{% get_static_prefix %}NMTK_ui/js/lib/respond.js"></script>
	<![endif]--> 
	{% endcomment %}
	<script>
	   CONFIG={'csrftoken': '{{csrf_token}}',
			   'api_path': '{% url 'api_v1_top_level' api_name='v1' %}',
			   'reset_url': '{% url 'password_reset' %}',
			   'register_url': '{% url 'nmtk_register' %}'
	   };
	</script>
	
	<!-- Here we load up all the javascript -->
	{% if not production %}
	<!-- load the code the regular way -->
	<script data-main="{% get_static_prefix %}NMTK_ui/js/nmtk_ui" 
	        src="{% get_static_prefix %}NMTK_ui/js/lib/require.js"></script>
	{% else %}
	<!-- load the uglified/minified version of the code. -->
	  <script data-main="{% get_static_prefix %}NMTK_ui/js/nmtk_ui" 
	          src="{% get_static_prefix %}NMTK_ui/js/nmtk_ui_app.min.js"></script>
	{% endif %}
{% endblock %}
{% block css_extra %}{% endblock %}
	</head>

	<body ng-controller="NMTKCtrl">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		   <div class="container">
		      <div class="navbar-header">
		         <a class="navbar-brand" href="{% url 'nmtk_server_nmtk_index' %}"> nmtk <sup>beta</sup> </a>
		         <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
		            <i class="glyphicon glyphicon-cog"></i>
		         </a> 
		      </div>
		      <div class="navbar-collapse collapse">
		      	<ul class="nav navbar-nav">
		      
		        {% block right_nav %}
					<li class="">						
						<a href="{% url 'registration_register' %}" class="">
							Create an Account
						</a>
					</li>
					<li class="">						
						<a href="{% url 'nmtk_server_nmtk_index' %}" class="">
							<i class="icon-chevron-left"></i>
							Back to Homepage
						</a>
					</li>
		        {% endblock %}
		        </ul>
		        
		          {% comment %}
		          <form class="navbar-form ">
		            <input type="text" class="search-query" placeholder="Search" />
		          </form>
		          {% endcomment %}
		        {% block navbar_extras %}{% endblock %}
		        
		      </div>
		      <!--/.navbar-collapse --> 
		    </div>
		    <!-- /container --> 
		</div>
		<!-- /navbar -->

{% block navbars %}
{% endblock %}


{% block content %}

{% endblock %}


{% block footer %}
		<div class="footer">
		  <div class="container">
		    <div class="row">
		      <div id="footer-copyright" class="col-md-6">
			  Prepared under <a href="http://www.fhwa.dot.gov/">Federal Highway Administration</a> 
			  Contract DTFH61-12-P-00147. 
		      </div>
		      <!-- /col-md-6 --> 
		    </div>
		    <!-- /row --> 
		  </div>
		  <!-- /container --> 
		</div>
		<!-- /footer --> 
{% endblock %}
	</body>	
</html>