{% extends "NMTK_ui/base.html" %}
{% load static %}{% load admin_urls %}
{% load url from future %}
{% block title %}Non-Motorized Transportation Toolkit{% endblock %}
{% block css_extra %}

{% endblock %}

{% block right_nav %}
	  <li ng-show="user.is_active" class="ng-cloak">
	    <a ng-click="feedback()"><i class="glyphicon glyphicon-bullhorn"></i> Feedback </a>
	  </li>
	  <li ng-hide="user.is_active" class="ng-cloak">
	    <a ng-click="login()"><i class="glyphicon glyphicon-log-in"></i> Login </a>
	  </li>
	  <li ng-hide="user.is_active" class="ng-cloak">
	    <a href="{% url 'nmtk_register' %}"> Create Account </a>
	  </li>
	  <li ng-show="user.resource_uri" class="dropdown ng-cloak"> <a href="#" class="dropdown-toggle ng-cloak" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {% templatetag openvariable %}user.first_name{% templatetag closevariable %} {% templatetag openvariable %}user.last_name{% templatetag closevariable %}<b class="caret ng-cloak"></b> </a>
	    <ul class="dropdown-menu">
	      <li><a ng-click="changePassword()">Change Password</a></li>
	         <li ng-show="user.is_superuser"><a href="{% url 'admin:index' %}">Site Administration</a></li>
	         <li class="divider"></li>
	         <li><a ng-click="logout()">Logout</a></li>
	    </ul>
	  </li>
{% endblock %}
{% block navbars %}
<div class="subnavbar">
  <div class="subcontainer">
    <div class="container"> <a class="btn-subnavbar collapse" data-toggle="collapse" data-target=".subnavbar-collapse"> <i class="glyphicon glyphicon-list"></i> </a>
      <div class="subnavbar-collapse collapse">
		<ul class="mainnav">
          <li class="ng-cloak" ng-class="{'active': (activeTab == 'introduction')}"> 
            <a href="#"> 
              <i class="glyphicon glyphicon-home"></i> 
              <span>Home</span>
            </a> 
          </li>
          <li class="ng-cloak" ng-class="{'active': (activeTab == 'toolexplorer')}"> 
            <a ng-href="#/tool-explorer/{% templatetag openvariable %}current_tool.id{% templatetag closevariable %}"> 
              <i class="glyphicon glyphicon-wrench"></i> 
              <span>Tool Explorer</span> 
            </a> 
          </li>
          <li ng-show="user.is_active" class="ng-cloak" ng-class="{'active': (activeTab == 'files')}">
               <a href="#/files/">
                    <i ng-hide="activeTab == 'files'" class="glyphicon glyphicon-folder-close"></i>
                    <i ng-show="activeTab == 'files'" class="glyphicon glyphicon-folder-open"></i>
                    <span>My Files</span>
               </a>                    
          </li>
          <li ng-show="user.is_active" ng-class="{'active': (activeTab == 'viewjob')}" class="ng-cloak">                         
               <a href="#/job/">
              <i class="glyphicon glyphicon-asterisk"></i> 
                    <span>My Jobs</span>
               </a>         
          </li>
          <li ng-show="job_uri && user.is_active" class="ng-cloak"
           id="configurejob-tab" ng-class="{'active': (activeTab == 'configurejob')}">                    
               <a ng-href="#{% templatetag openvariable %}job_uri{% templatetag closevariable %}">
              <i class="glyphicon glyphicon-list"></i> 
                    <span>Configure Job</span>
               </a>         
          </li>
          <li ng-show="results_uri && user.is_active" class="ng-cloak"
           id="datafile_view-tab" ng-class="{'active': (activeTab == 'datafile_view')}">                    
               <a ng-href="#{% templatetag openvariable %}results_uri{% templatetag closevariable %}">
              <i class="glyphicon glyphicon-tower"></i> 
                    <span>View Data</span>
               </a>
          </li>
          
        </ul>
      </div>
      <!-- /.subnavbar-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /subcontainer --> 
</div>
<!-- /subnavbar -->
{% endblock %}
{% block content %}
<div ng-view class="main"></div>
{% endblock %}
