{% extends "NMTK_ui/base.html" %}
{% load static %}{% load admin_urls %}
{% load url from future %}
{% block title %}Non-Motorized Transportation Toolkit{% endblock %}
{% block css_extra %}

{% endblock %}

				<ul class="nav pull-right">
					{% block right_nav %}
					<li ng-click="feedback()">
					    <a>
						   <i class="icon-bug"></i>
							Feedback
					    </a>
					</li>
					{% comment %}
					<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i>
							Settings
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a href="javascript:;">Account Settings</a></li>
							<li><a href="javascript:;">Privacy Settings</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Help</a></li>
						</ul>
						
					</li>
					{% endcomment %}
			
					<li class="dropdown">
						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{user.first_name}} {{user.last_name}}
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li><a ng-click="changePassword()">Change Password</a></li>
							{% if user.is_superuser %}
							<li><a href="{% url 'admin:index' %}">Site Administration</a></li>
							{% endif %}
							<li><a href="{% url 'auth_logout' %}">Logout</a></li>
						</ul>
						
					</li>
					{% endblock %}
				</ul>
				{% block navbar_extras %}
				{% comment %}
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
				{% endcomment %}
				{% endblock %}
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
    


{% block navbars %}

<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li id="introduction-tab" ng-class="{'active': (activeTab == 'introduction')}">
						<a href="#">
							<i class="icon-home"></i>
							<span>NMTK</span>
						</a>				
					</li>
					<li id="toolexplorer-tab" ng-class="{'active': (activeTab == 'toolexplorer')}">
						<a ng-href="#/tool-explorer/{% templatetag openvariable %}current_tool_id{% templatetag closevariable %}">
							<i class="icon-wrench"></i>
							<span>Tool Explorer</span>
						</a>				
					</li>
					<li id="files-tab" ng-class="{'active': (activeTab == 'files')}">
						<a href="#/files/">
							<i ng-hide="activeTab == 'files'" class="icon-folder-close"></i>
							<i ng-show="activeTab == 'files'" class="icon-folder-open"></i>
							<span>My Files</span>
						</a>				
					</li>
					<li id="viewjob-tab" ng-class="{'active': (activeTab == 'viewjob')}">					
						<a href="#/job/">
							<i class="icon-magic"></i>
							<span>My Jobs</span>
						</a>	    
					</li>
					<li ng-show="working_job_id"
					 id="configurejob-tab" ng-class="{'active': (activeTab == 'configurejob')}">				
						<a ng-href="#/job/{% templatetag openvariable %}working_job_id{% templatetag closevariable %}/">
							<i class="icon-gears"></i>
							<span>Configure Job</span>
						</a>	    
					</li>
					<li ng-show="results_job"
					 id="results-tab" ng-class="{'active': (activeTab == 'results')}">				
						<a ng-href="#/results/{% templatetag openvariable %}results_job{% templatetag closevariable %}/">
							<i class="icon-trophy"></i>
							<span>Job Results</span>
						</a>	    
					</li>
					
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->

{% endblock %}
{% block content %}

<div ng-view></div>


{% comment %}
<div id="introduction" class="main defaulthidden">

</div> <!-- /main -->

<div id="dashboard" class="main defaulthidden">
   <div class="container">
     <div class="row">
         <div id="datafiles" class="span6">
         </div><!--  /span6 -->
         <div id="jobs" class="span6">
         </div><!--  /span6 -->
     </div> <!-- /row -->
   </div> <!-- /container -->
</div> <!-- /main -->

<div id="createjob" class="main defaulthidden">
  <div class="container">
    <div class="row">
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#/job/#choose_tool"><i class="icon-chevron-right"></i> Choose Tool</a></li>
          <li><a href="#/job/#choose_file"><i class="icon-chevron-right"></i> Choose File</a></li>
          <li><a href="#/job/#configure_job"><i class="icon-chevron-right"></i> Configure Job</a></li>
          <li><a href="#/job/#submit"><i class="icon-chevron-right"></i> Submit Job</a></li>
        </ul>
      </div> <!-- /span2 -->
      <div class="span10">
     	<section id="jobs_createjob"></section>
     	<section id="tools_select"></section>
	    <section id="datafiles_select"></section>
	    <button id="createjob_button" class="btn btn-primary btn-large" type="button"></button>
      </div> <!-- /span10 -->
    </div> <!--  /row -->
  </div> <!-- /container -->
</div> <!-- /main -->

<div id="configurejob" class="main defaulthidden" >
  <div class="container">
    <div class="row">
       <div id="job-configuration" class="span12"></div> <!-- /span12 -->
    </div> <!--  /row -->
  </div> <!-- /container -->  
</div> <!-- /main -->

<div id="viewjob" class="main defaulthidden" >
  <div class="container">
    <div class="row">
      <div id="job-view" class="span12"></div> <!-- /span12 -->
    </div> <!--  /row -->
  </div> <!-- /container -->  
</div> <!-- /main -->
{% endcomment %}
{% endblock %}
  </body>
</html>
