{% extends "NMTK_server/base.html" %}{% load url from future %}{% load static %}{% load widget_tweaks %}
{% block title %}Password Reset Confirmation{% endblock%}
{% block css_extra %}
    <link href="{% get_static_prefix %}NMTK_server/css/pages/signin.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block right_nav %}

					<li class="">						
						<a href="{% url 'nmtk_register' %}" class="">
							Create an Account
						</a>
						
					</li>
					<li class="">						
						<a href="{% url 'login' %}" class="">
							Login
						</a>
						
					</li>
					
					<li class="">						
						<a href="{% url 'nmtk_server_nmtk_index' %}" class="">
							<i class="icon-chevron-left"></i>
							Back to Homepage
						</a>
						
					</li>
{% endblock %}
				

{% block content %}
<div class="account-container stacked">
	
	<div class="content clearfix">
		
		
				{% if validlink %}
			<form action="." method="post">
			{% csrf_token %}
			<h1>Password reset confirmation</h1>			
			<div class="login-fields">
				<p>Please choose a new password:</p>
				
				<div class="field">
					{{ form.new_password1.label_tag }}
					{% render_field form.new_password1 placeholder="Password" class="login password-field" %}
					{{form.new_password1.errors}}
				</div> <!-- /field -->
				<div class="field">
					{{ form.new_password2.label_tag }}
					{% render_field form.new_password2 placeholder="Confirm Password" class="login password-field" %}
					{{form.new_password2.errors}}
				</div> <!-- /field -->
				<div class="login-actions">	
					<button class="button btn btn-primary btn-large">Change my password</button>
				</div> <!-- .actions -->
				</div> <!-- /login-fields -->
		</form>
		
				{% else %}
				<p>The password link you used was invalid (did you already use it?).  Please <a href="{% url 'password_reset' %}">request a new password reset link</a>.
				{% endif %}
			
	</div> <!-- /content -->
	
</div> <!-- /account-container -->
<!-- Text Under Box -->
<div class="login-extra">
	Remembered your password? <a href="{% url 'login' %}">Login</a>
</div> <!-- /login-extra -->
{% endblock %}

{% block javascript_extra %}

<!--<script src="{% get_static_prefix %}NMTK_server/js/signin.js"></script>

-->
{% endblock %}



