{% extends "NMTK_server/base.html" %}{% load url from future %}{% load static %}{% load widget_tweaks %}
{% block title %}Password Reset{% endblock%}
{% block css_extra %}
    <link href="{% get_static_prefix %}NMTK_server/css/pages/signin.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block right_nav %}

					<li class="">						
						<a href="{% url 'nmtk_register' %}" class="">
							Create an Account
						</a>
						
					</li>
					<li class="">						
						<a href="{% url 'login' %}" class="">
							Login
						</a>
						
					</li>
					
					<li class="">						
						<a href="{% url 'nmtk_server_nmtk_index' %}" class="">
							<i class="icon-chevron-left"></i>
							Back to Homepage
						</a>
						
					</li>
{% endblock %}
				

{% block content %}
<div class="account-container register stacked">
	
	<div class="content clearfix">
		
		<form action="." method="post">
			{% csrf_token %}
			<h1>Password Reset</h1>			
			
			
			
			<div class="login-fields">
				
				<p>Please provide your email address:</p>
				
				<div class="field">
					{{ form.email.label_tag }}
					{% render_field form.email placeholder="Email Address" class="login" %}
					{{form.email.errors}}
				</div> <!-- /field -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
									
				<button class="button btn btn-primary btn-large">Email Password Reset Link</button>
				
			</div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->
<!-- Text Under Box -->
<div class="login-extra">
	Remembered your password? <a href="{% url 'login' %}">Login</a>
</div> <!-- /login-extra -->
{% endblock %}

{% block javascript_extra %}

<!--<script src="{% get_static_prefix %}NMTK_server/js/signin.js"></script>

-->
{% endblock %}
